<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-row>
        <h2 class="mx-3 my-4">{{title}}</h2>
      </v-row>
      <v-row v-if="loading">
        <v-progress-linear indeterminate color="blue" />
        <v-col class="text-center">Loading ...</v-col>
      </v-row>
      <v-row>
        <h3 class="mx-3 mb-2 grey--text text--darken-2">User Information</h3>
      </v-row>
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in userFields" :key="index">
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="staff[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="staff[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="staff[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <v-row>
        <h3 class="mx-3 mb-2 grey--text text--darken-2">Staff Information</h3>
      </v-row>
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in staffFields" :key="index">
          <!-- <v-menu v-if="field.type == 'date'" :disabled="readonly" v-model="field.open"
            :close-on-content-click="false" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="staff[field.name]" outlined dense 
                :label="field.label" readonly v-bind="attrs" v-on="on" />
            </template>
            <v-date-picker v-model="staff[field.name]" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="field.open = false">OK</v-btn>
            </v-date-picker>
          </v-menu> -->
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="staff[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="staff[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="staff[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-btn v-if="creating" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()">Create</v-btn>
          <v-btn v-if="!creating && !editing" width="100px" color="primary" 
            :disabled="loading" @click="handleEdit(true)">Edit</v-btn>
          <ConfirmDialog title="Delete Staff" message="Confirm to delete this staff?"
            titleClass="white--text red lighten-1" @confirm="handleDelete">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-if="!creating && !editing" v-bind="attrs" v-on="on"
                width="100px" color="error" class="ml-4" 
                :disabled="loading">Delete</v-btn>
            </template>
          </ConfirmDialog>
          <v-btn v-if="!editing" width="100px" color="normal" class="ml-4" 
            @click="handleBack">Back</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()" :disabled="!dirty">Confirm</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="normal" class="ml-4" 
            @click="handleEdit(false)">Cancel</v-btn>
        </v-col>
      </v-row>

    </v-form>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import ConfirmDialog from '../Base/ConfirmDialog';
import { mapMutations } from 'vuex';

export default {
  name: 'Staff',
  mixins: [Utils],
  components: { ConfirmDialog },
  data() {
    return {
      valid: false,
      dirty: false,
      loading: false,
      editing: false,
      // password: "",
      staff: {
        user_id: 0,
        name: "",
        password: null,
        initial: "",
        email: "",
        mobile: "",
        disabled: false,
        roles: [],
        staff_code: "",
        gender: "",
        updated_at: null
      },
      choices: {
        role: [],
        gender: []
      },
      userFields: [
        {
          name: "user_id",
          label: "Staff ID",
          disabled: true,
        },
        {
          name: "name",
          label: "Staff Name",
          required: true,
          rules: [
            v => !!v || 'Staff Name is required',
          ]
        },
        {
          name: "password",
          label: "Password",
          type: "password",
          autocomplete: "off"
        },
        {
          name: "initial",
          label: "Initial Name",
        },
        {
          name: "email",
          label: "Email",
          required: true,
          rules: [
            v => !!v || 'Email is required',
          ]
        },
        {
          name: "mobile",
          label: "Mobile",
        },
        {
          name: "roles",
          label: "Roles",
          choice: "role",
          multiple: true,
          required: true,
          rules: [
            v => (v && v.length > 0) || 'At least one role is required',
          ]
        },
        {
          name: "disabled",
          label: "Disabled",
          checkbox: true
        },
      ],
      staffFields: [
        {
          name: "staff_code",
          label: "Staff Code",
          required: true,
          rules: [
            v => !!v || 'Staff Code is required',
            v => (v && v.length <= 15) || 'Staff Code must be less than 15 characters',
          ]
        },
        {
          name: "gender",
          label: "Gender",
          choice: "gender"
        },
        {
          name: "updated_at",
          label: "Updated Date",
          disabled: true,
        },
      ],
    }
  },
  watch: {
    // watch any staff data changed
    staff: {
      deep: true,
      handler() {
        if (!this.loading) {
          // console.debug("watch staff:", newVal, oldVal);
          this.dirty = true;
        } else {
          this.dirty = false;
        }
      }
    }
  },
  computed: {
    curId() {
      const id = this.$route.params && this.$route.params.id || "";
      return id;
    },
    creating() {
      return (this.curId == "Create");
    },
    readonly() {
      return !this.creating && !this.editing;
    },
    title() {
      const curId = this.curId;
      return (curId == "Create") ? "Create Staff" : `Staff #${curId}`;
    },
  },
  async mounted() {
    const curId = this.curId;
    console.debug("router id:", curId);
    if (!this.creating)
      await this.loadStaff(curId);
    await this.loadChoices();
    // filter out Student and Teacher roles
    this.choices.role = this.choices.role.filter(x => x.value != 'Student' && x.value != 'Teacher');
  },
  methods: {
    ...mapMutations(['setSnackMessage', 'setErrorMessage']),
    async loadStaff(id) {
      this.loading = true;
      try {
        this.staff = await apiClient.fetch('staffs', id);
        // format updated_at
        if (this.staff.updated_at)
          this.staff.updated_at = this.formatDateTime(this.staff.updated_at);
        console.debug("Loaded staff:", this.staff);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Staff",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadChoices() {
      try {
        for (const category in this.choices) {
          this.choices[category] = await apiClient.fetchList(`choices/${category}`);
        }
        // console.debug("Loaded choices:", this.choices);
      } catch (error) {
        console.error("Loaded choices error:", error);
      }
    },
    handleValidate() {
      this.$refs.form.validate();
    },
    handleBack() {
      this.$router.go(-1);
    },
    handleEdit(edit) {
      if (!edit && this.dirty)
        this.loadStaff(this.curId);
      this.editing = edit;
      this.dirty = false;
    },
    async handleConfirm() {
      if (!this.dirty) {
        this.editing = false;
        return;
      }
      this.$refs.form.validate();
      if (!this.valid)
        return;

      const tag = this.creating && "Create" || "Update";
      try {
        // password updated, hash it
        // if (this.staff.password && this.staff.password != this.password) {
        //   this.password = this.hashSha256(this.staff.password);
        //   this.staff.password = this.password
        // }
        if (tag == 'Create')
          this.staff = await apiClient.post('staffs', this.staff);
        else
          await apiClient.put('staffs', this.staff.user_id, this.staff);
        console.debug(`${tag}:`, this.staff.user_id);
        this.staff.password = null;     // clear after submitted
        this.dirty = false;
        this.editing = false;
        this.setSnackMessage({
          text: `Staff "${this.staff.staff_code}" ${tag}d`
        });
        // replace to new staff page
        if (this.creating) {
          this.$router.replace(`/Users/Staffs/${this.staff.user_id}`);
        }
      } catch (error) {
        this.setErrorMessage({
          title: `${tag} Staff`,
          message: error
        });
      }
    },
    async handleDelete() {
      try {
        console.debug("delete:", this.curId);
        await apiClient.delete('staffs', this.curId);
        this.setSnackMessage({
          text: `Staff "${this.staff.staff_code}" Deleted`
        });
        this.handleBack();
      } catch (error) {
        this.setErrorMessage({
          title: "Delete Cusomter",
          message: error
        });
      }
    }
  },
}
</script>