<template>
  <BaseList :title="title" :headers="headers" :createLink="createLink"
    :loading="loading" :total="total" :items="staffs" 
    :sortBy="sortBy" :sortDesc="sortDesc"
    @update="loadStaffs" @click="handleClick">
  </BaseList>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import BaseList from '../Base/BaseList';
import { mapMutations } from 'vuex';

export default {
  name: 'StaffList',
  components: { BaseList },
  mixins: [Utils],
  data() {
    return {
      title: "Staff List",
      createLink: "/Users/Staffs/Create",
      sortBy: "user_id",
      sortDesc: false,
      total: 0,
      staffs: [],
      loading: false,
      headers: [
        { text: 'USER ID', value: 'user_id', width: 60, sortable: true },
        { text: 'STAFF CODE', value: 'staff_code', width: 80, sortable: true },
        { text: 'INITIAL', value: 'initial', width: 100, sortable: true },
        { text: 'NAME', value: 'name', width: 100, sortable: true },
        { text: 'EMAIL', value: 'email', width: 120, sortable: true },
        { text: 'MOBILE', value: 'mobile', width: 80, sortable: false },
        { text: 'GENDER', value: 'gender', width: 60, sortable: false },
        { text: 'ROLES', value: 'roles', width: 120, sortable: true },
        { text: 'ACTIONS', value: 'actions', width: 40, sortable: false },
      ]
    }
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    async loadStaffs(searchOptions) {
      this.loading = true;
      try {
        console.debug("loadStaffs:", searchOptions);
        const total = await apiClient.fetchCount('staffs', searchOptions);
        let staffs = await apiClient.fetchList('staffs', searchOptions);
        // transform data
        staffs = staffs.map((c) => ({
          ...c, 
          roles: c.roles && c.roles.join(", "),
        }));
        console.debug("Loaded staffs:", total.count, staffs.length);
        this.total = total.count;
        this.staffs = staffs;
      } catch (error) {
        this.setErrorMessage({
          title: "Load Staff List",
          message: error
        });
      }
      this.loading = false;
    },
    async handleClick(item) {
      console.debug("handleClick:", item);
      // this.$router.push({name: 'Staff', id: item.user_id});
      this.$router.push({path: `/Users/Staffs/${item.user_id}`});
    },
    async handleSearch(keyword) {
    console.debug("search:", keyword)
      this.keyword = keyword;
      await this.loadStaffs()
    }
  },
}
</script>
