<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-row>
        <h2 class="mx-3 my-4">{{title}}</h2>
      </v-row>
      <v-row v-if="loading">
        <v-progress-linear indeterminate color="blue" />
        <v-col class="text-center">Loading ...</v-col>
      </v-row>
      <v-row>
        <h3 class="mx-3 mb-2 grey--text text--darken-2">User Information</h3>
      </v-row>
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in userFields" :key="index">
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="student[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="student[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="student[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <v-row>
        <h3 class="mx-3 mb-2 grey--text text--darken-2">Student Information</h3>
      </v-row>
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in studentFields" :key="index">
          <!-- <v-menu v-if="field.type == 'date'" :disabled="readonly" v-model="field.open"
            :close-on-content-click="false" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="student[field.name]" outlined dense 
                :label="field.label" readonly v-bind="attrs" v-on="on" />
            </template>
            <v-date-picker v-model="student[field.name]" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="field.open = false">OK</v-btn>
            </v-date-picker>
          </v-menu> -->
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="student[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="student[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="student[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-btn v-if="creating" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()">Create</v-btn>
          <v-btn v-if="!creating && !editing" width="100px" color="primary" 
            :disabled="loading" @click="handleEdit(true)">Edit</v-btn>
          <ConfirmDialog title="Delete Student" message="Confirm to delete this student?"
            titleClass="white--text red lighten-1"  @confirm="handleDelete">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-if="!creating && !editing" v-bind="attrs" v-on="on"
                width="100px" color="error" class="ml-4" 
                :disabled="loading">Delete</v-btn>
            </template>
          </ConfirmDialog>
          <v-btn v-if="!editing" width="100px" color="normal" class="ml-4" 
            @click="handleBack">Back</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()" :disabled="!dirty">Confirm</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="normal" class="ml-4" 
            @click="handleEdit(false)">Cancel</v-btn>
        </v-col>
      </v-row>

    </v-form>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import ConfirmDialog from '../Base/ConfirmDialog';
import { mapMutations } from 'vuex';

export default {
  name: 'Student',
  mixins: [Utils],
  components: { ConfirmDialog },
  data() {
    return {
      valid: false,
      dirty: false,
      loading: false,
      editing: false,
      // password: "",
      student: {
        user_id: 0,
        name: "",
        password: null,
        initial: "",
        email: "",
        mobile: "",
        disabled: false,
        student_code: "",
        trial_student_code: "",
        referral_code: "",
        referral_name: "",
        parent_1: "",
        parent_2: "",
        mobile_whatsapp: "",
        mobile_classin: "",
        dob: null,
        gender: "",
        updated_at: null
      },
      choices: {
        gender: []
      },
      userFields: [
        {
          name: "user_id",
          label: "Student ID",
          disabled: true,
        },
        {
          name: "name",
          label: "Student Name",
          required: true,
          rules: [
            v => !!v || 'Student Name is required',
          ]
        },
        {
          name: "password",
          label: "Password",
          type: "password",
          autocomplete: "off"
        },
        {
          name: "initial",
          label: "Initial Name",
        },
        {
          name: "email",
          label: "Email",
          required: true,
          rules: [
            v => !!v || 'Email is required',
          ]
        },
        {
          name: "mobile",
          label: "Mobile",
        },
        {
          name: "disabled",
          label: "Disabled",
          checkbox: true
        },
      ],
      studentFields: [
        {
          name: "student_code",
          label: "Student Code",
          required: true,
          rules: [
            v => !!v || 'Student Code is required',
            v => (v && v.length <= 15) || 'Student Code must be less than 15 characters',
          ]
        },
        {
          name: "trial_student_code",
          label: "Trial Student Code",
        },
        {
          name: "referral_code",
          label: "Referral Code",
        },
        {
          name: "referral_name",
          label: "Referral Name",
        },
        {
          name: "parent_1",
          label: "Parent 1",
        },
        {
          name: "parent_2",
          label: "Parent 2",
        },
        {
          name: "gender",
          label: "Gender",
          choice: "gender"
        },
        {
          name: "dob",
          label: "Date of Birth",
          type: "date"
        },
        {
          name: "mobile_whatsapp",
          label: "Mobile Whatsapp",
        },
        {
          name: "mobile_classin",
          label: "Mobile Class-In",
        },
        {
          name: "updated_at",
          label: "Updated Date",
          disabled: true,
        },
      ],
    }
  },
  watch: {
    // watch any student data changed
    student: {
      deep: true,
      handler() {
        if (!this.loading) {
          // console.debug("watch student:", newVal, oldVal);
          this.dirty = true;
        } else {
          this.dirty = false;
        }
      }
    }
  },
  computed: {
    curId() {
      const id = this.$route.params && this.$route.params.id || "";
      return id;
    },
    creating() {
      return (this.curId == "Create");
    },
    readonly() {
      return !this.creating && !this.editing;
    },
    title() {
      const curId = this.curId;
      return (curId == "Create") ? "Create Student" : `Student #${curId}`;
    },
  },
  async mounted() {
    const curId = this.curId;
    console.debug("router id:", curId);
    if (!this.creating)
      await this.loadStudent(curId);
    await this.loadChoices();
  },
  methods: {
    ...mapMutations(['setSnackMessage', 'setErrorMessage']),
    async loadStudent(id) {
      this.loading = true;
      try {
        this.student = await apiClient.fetch('students', id);
        // format updated_at
        if (this.student.updated_at)
          this.student.updated_at = this.formatDateTime(this.student.updated_at);
        console.debug("Loaded student:", this.student);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Student",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadChoices() {
      try {
        for (const category in this.choices) {
          this.choices[category] = await apiClient.fetchList(`choices/${category}`);
        }
        // console.debug("Loaded choices:", this.choices);
      } catch (error) {
        console.error("Loaded choices error:", error);
      }
    },
    handleValidate() {
      this.$refs.form.validate();
    },
    handleBack() {
      this.$router.go(-1);
    },
    handleEdit(edit) {
      if (!edit && this.dirty)
        this.loadStudent(this.curId);
      this.editing = edit;
      this.dirty = false;
    },
    async handleConfirm() {
      if (!this.dirty) {
        this.editing = false;
        return;
      }
      this.$refs.form.validate();
      if (!this.valid)
        return;

      const tag = this.creating && "Create" || "Update";
      try {
        // password updated, hash it
        // if (this.student.password && this.student.password != this.password) {
        //   this.password = this.hashSha256(this.student.password);
        //   this.student.password = this.password
        // }
        if (tag == 'Create')
          this.student = await apiClient.post('students', this.student);
        else
          await apiClient.put('students', this.student.user_id, this.student);
        console.debug(`${tag}:`, this.student.user_id);
        this.student.password = null;     // clear after submitted
        this.dirty = false;
        this.editing = false;
        this.setSnackMessage({
          text: `Student "${this.student.student_code}" ${tag}d`
        });
        // replace to new student page
        if (this.creating) {
          this.$router.replace(`/Users/Students/${this.student.user_id}`);
        }
      } catch (error) {
        this.setErrorMessage({
          title: `${tag} Student`,
          message: error
        });
      }
    },
    async handleDelete() {
      try {
        console.debug("delete:", this.curId);
        await apiClient.delete('students', this.curId);
        this.setSnackMessage({
          text: `Student "${this.student.student_code}" Deleted`
        });
        this.handleBack();
      } catch (error) {
        this.setErrorMessage({
          title: "Delete Cusomter",
          message: error
        });
      }
    }
  },
}
</script>