<template>
  <BaseList :title="title" :headers="headers" :createLink="createLink"
    :searchHints="searchHints" :loading="loading" :total="total" :items="students" 
    :sortBy="sortBy" :sortDesc="sortDesc"
    @update="loadStudents" @click="handleClick">
  </BaseList>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import BaseList from '../Base/BaseList';
import { mapMutations } from 'vuex';

export default {
  name: 'StudentList',
  components: { BaseList },
  mixins: [Utils],
  data() {
    return {
      title: "Student List",
      createLink: "/Users/Students/Create",
      searchHints: "search for student name, code, initial, email, mobile, trial code",
      sortBy: "user_id",
      sortDesc: false,
      total: 0,
      students: [],
      loading: false,
      headers: [
        { text: 'USER ID', value: 'user_id', width: 60, sortable: true },
        { text: 'STUDENT CODE', value: 'student_code', width: 80, sortable: true },
        { text: 'NAME', value: 'name', width: 100, sortable: true },
        { text: 'INITIAL', value: 'initial', width: 100, sortable: true },
        { text: 'EMAIL', value: 'email', width: 120, sortable: true },
        { text: 'MOBILE', value: 'mobile', width: 80, sortable: false },
        { text: 'REFER.', value: 'referral_code', width: 80, sortable: false },
        { text: 'AGE', value: 'age', width: 40, sortable: true },
        { text: 'GENDER', value: 'gender', width: 60, sortable: false },
        { text: 'PARENT', value: 'parent', width: 120, sortable: false },
        { text: 'ACTIONS', value: 'actions', width: 40, sortable: false },
      ]
    }
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    async loadStudents(searchOptions) {
      // change sorting for age
      if (searchOptions.sort_by == 'age') {
        searchOptions.sort_by = 'dob';
        searchOptions.sort_desc = !searchOptions.sort_desc;
      }
      this.loading = true;
      try {
        console.debug("loadStudents:", searchOptions);
        const today = new Date();
        const total = await apiClient.fetchCount('students', searchOptions);
        let students = await apiClient.fetchList('students', searchOptions);
        // transform data
        students = students.map((c) => ({
          ...c, 
          parent: [c.parent_1, c.parent_2].filter((x) => (x)).join(", "),
          age: c.dob ? this.yearsDiff(c.dob, today) : 0
        }));
        console.debug("Loaded students:", total.count, students.length);
        this.total = total.count;
        this.students = students;
      } catch (error) {
        this.setErrorMessage({
          title: "Load Student List",
          message: error
        });
      }
      this.loading = false;
    },
    handleClick(item) {
      console.debug("handleClick:", item);
      // this.$router.push({name: 'Student', id: item.user_id});
      this.$router.push({path: `/Users/Students/${item.user_id}`});
    },
  },
}
</script>
