<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-row>
        <h2 class="mx-3 my-4">{{title}}</h2>
      </v-row>
      <v-row v-if="loading">
        <v-progress-linear indeterminate color="blue" />
        <v-col class="text-center">Loading ...</v-col>
      </v-row>
      <v-row>
        <h3 class="mx-3 mb-2 grey--text text--darken-2">User Information</h3>
      </v-row>
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in userFields" :key="index">
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="teacher[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="teacher[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="teacher[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <v-row>
        <h3 class="mx-3 mb-2 grey--text text--darken-2">Teacher Information</h3>
      </v-row>
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in teacherFields" :key="index">
          <!-- <v-menu v-if="field.type == 'date'" :disabled="readonly" v-model="field.open"
            :close-on-content-click="false" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="teacher[field.name]" outlined dense 
                :label="field.label" readonly v-bind="attrs" v-on="on" />
            </template>
            <v-date-picker v-model="teacher[field.name]" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="field.open = false">OK</v-btn>
            </v-date-picker>
          </v-menu> -->
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="teacher[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="teacher[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="teacher[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <v-row>
        <h3 class="mx-3 mb-2 grey--text text--darken-2">Course Product List</h3>
      </v-row>
      <v-row v-if="!loadingProducts">
        <v-chip-group v-if="readonly" class="mx-3" column>
          <!-- add 10000 for key of this v-chip difference from below v-chip -->
          <v-chip class="py-0 primary" cols="12" md="4" v-for="product in teacher.products" :key="product.product_id + 10000"
            :to="`/School/Products/${product.product_id}`">
            {{product.product_code + ": " + product.name}}
          </v-chip>
        </v-chip-group>
        <!-- multiple selection of v-chips and v-model to productIds -->
        <v-chip-group v-if="!readonly" class="mx-3" active-class="primary" v-model="productIds"
          column multiple @change="handleProductChange">
          <v-chip class="py-0" cols="12" md="4" v-for="product in productList" :key="product.product_id"
            :value="product.product_id">
            {{product.product_code + ": " + product.name}}
          </v-chip>
        </v-chip-group>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-btn v-if="creating" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()">Create</v-btn>
          <v-btn v-if="!creating && !editing" width="100px" color="primary" 
            :disabled="loading" @click="handleEdit(true)">Edit</v-btn>
          <ConfirmDialog title="Delete Teacher" message="Confirm to delete this teacher?"
            titleClass="white--text red lighten-1" @confirm="handleDelete">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-if="!creating && !editing" v-bind="attrs" v-on="on"
                width="100px" color="error" class="ml-4" 
                :disabled="loading">Delete</v-btn>
            </template>
          </ConfirmDialog>
          <v-btn v-if="!editing" width="100px" color="normal" class="ml-4" 
            @click="handleBack">Back</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()" :disabled="!dirty">Confirm</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="normal" class="ml-4" 
            @click="handleEdit(false)">Cancel</v-btn>
        </v-col>
      </v-row>

    </v-form>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import ConfirmDialog from '../Base/ConfirmDialog';
import { mapMutations } from 'vuex';

export default {
  name: 'Teacher',
  mixins: [Utils],
  components: { ConfirmDialog },
  data() {
    return {
      valid: false,
      dirty: false,
      loading: false,
      loadingProducts: false,
      editing: false,
      // password: "",
      teacher: {
        user_id: 0,
        name: "",
        password: "",
        initial: "",
        email: "",
        mobile: "",
        disabled: false,
        teacher_code: "",
        mobile_whatsapp: "",
        mobile_classin: "",
        gender: "",
        updated_at: null,
        products: [],
      },
      choices: {
        gender: []
      },
      productList: [],
      productIds: [],
      userFields: [
        {
          name: "user_id",
          label: "Teacher ID",
          disabled: true,
        },
        {
          name: "name",
          label: "Teacher Name",
          required: true,
          rules: [
            v => !!v || 'Teacher Name is required',
          ]
        },
        {
          name: "password",
          label: "Password",
          type: "password",
          autocomplete: "off"
        },
        {
          name: "initial",
          label: "Initial Name",
        },
        {
          name: "email",
          label: "Email",
          required: true,
          rules: [
            v => !!v || 'Email is required',
          ]
        },
        {
          name: "mobile",
          label: "Mobile",
        },
        {
          name: "disabled",
          label: "Disabled",
          checkbox: true
        },
      ],
      teacherFields: [
        {
          name: "teacher_code",
          label: "Teacher Code",
          required: true,
          rules: [
            v => !!v || 'Teacher Code is required',
            v => (v && v.length <= 15) || 'Teacher Code must be less than 15 characters',
          ]
        },
        {
          name: "gender",
          label: "Gender",
          choice: "gender"
        },
        {
          name: "mobile_whatsapp",
          label: "Mobile Whatsapp",
        },
        {
          name: "mobile_classin",
          label: "Mobile Class-In",
        },
        {
          name: "hourly_rate",
          label: "Hourly Rate",
          type: "number"
        },
        {
          name: "trial_bonus",
          label: "Trial Bonous",
          type: "number"
        },
        {
          name: "updated_at",
          label: "Updated Date",
          disabled: true,
        },
      ],
    }
  },
  watch: {
    // watch any teacher data changed
    teacher: {
      deep: true,
      handler() {
        if (!this.loading) {
          // console.debug("watch teacher:", newVal, oldVal);
          this.dirty = true;
        } else {
          this.dirty = false;
        }
      }
    }
  },
  computed: {
    curId() {
      const id = this.$route.params && this.$route.params.id || "";
      return id;
    },
    creating() {
      return (this.curId == "Create");
    },
    readonly() {
      return !this.creating && !this.editing;
    },
    title() {
      const curId = this.curId;
      return (curId == "Create") ? "Create Teacher" : `Teacher #${curId}`;
    },
  },
  async mounted() {
    const curId = this.curId;
    console.debug("router id:", curId);
    if (!this.creating)
      await this.loadTeacher(curId);
    else
      await this.loadProductList(curId);
    await this.loadChoices();
  },
  methods: {
    ...mapMutations(['setSnackMessage', 'setErrorMessage']),
    async loadTeacher(id) {
      this.loading = true;
      try {
        this.teacher = await apiClient.fetch('teachers', id);
        // format updated_at
        if (this.teacher.updated_at)
          this.teacher.updated_at = this.formatDateTime(this.teacher.updated_at);
        this.productIds = this.teacher.products.map(x => x.product_id);
        console.debug("Loaded teacher:", this.teacher, this.productIds);
        // this.mapProductIndices();
      } catch (error) {
        this.setErrorMessage({
          title: "Load Teacher",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadProductList() {
      console.debug("loadProductList:");
      this.loadingProducts = true;
      try {
        this.productList = await apiClient.fetchList('products/brief', {page_size: 0});
        // mapping teacher products to productList
        // this.mapProductIndices();
        console.debug("Loaded products:", this.productList);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Product List",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loadingProducts = false;
      });
    },
    async loadChoices() {
      try {
        for (const category in this.choices) {
          this.choices[category] = await apiClient.fetchList(`choices/${category}`);
        }
        // console.debug("Loaded choices:", this.choices);
      } catch (error) {
        console.error("Loaded choices error:", error);
      }
    },
    handleValidate() {
      this.$refs.form.validate();
    },
    handleBack() {
      this.$router.go(-1);
    },
    async handleEdit(edit) {
      if (edit && this.productList.length == 0)
        this.loadProductList(); // load product list
      if (!edit && this.dirty) {
        await this.loadTeacher(this.curId);
      }
      this.editing = edit;
      this.dirty = false;
    },
    async handleConfirm() {
      if (!this.dirty) {
        this.editing = false;
        return;
      }
      this.$refs.form.validate();
      if (!this.valid)
        return;

      const tag = this.creating && "Create" || "Update";
      try {
        // password updated, hash it
        // if (this.teacher.password && this.teacher.password != this.password) {
        //   this.teacher.password = this.hashSha256(this.teacher.password);
        //   this.password = this.teacher.password;
        // }
        // mapping indices to product id
        const data = {...this.teacher, products: this.productIds};
        // data.products = this.productIds;
        if (tag == 'Create') {
          this.teacher = await apiClient.post('teachers', data);
        } else {
          await apiClient.put('teachers', data.user_id, data);
          // convert indices to teacher products after updated
          this.teacher.products = this.productList.filter(p => this.productIds.indexOf(p.product_id) != -1);
        }
        console.debug(`${tag}:`, this.teacher.user_id);
        this.teacher.password = null;     // clear after submitted
        this.dirty = false;
        this.editing = false;
        this.setSnackMessage({
          text: `Teacher "${this.teacher.teacher_code}" ${tag}d`
        });
        // replace to new teacher page
        if (this.creating) {
          this.$router.replace(`/Users/Teachers/${this.teacher.user_id}`);
        }
      } catch (error) {
        this.setErrorMessage({
          title: `${tag} Teacher`,
          message: error
        });
      }
    },
    async handleDelete() {
      try {
        console.debug("delete:", this.curId);
        await apiClient.delete('teachers', this.curId);
        this.setSnackMessage({
          text: `Teacher "${this.teacher.teacher_code}" Deleted`
        });
        this.handleBack();
      } catch (error) {
        this.setErrorMessage({
          title: "Delete Cusomter",
          message: error
        });
      }
    },
    handleProductChange(values) {
      // console.debug("handleProductChange", values);
      this.dirty = true;
    },
  },
}
</script>