<template>
  <BaseList :title="title" :headers="headers" :createLink="createLink"
    :searchHints="searchHints" :loading="loading" :total="total" :items="teachers" 
    :sortBy="sortBy" :sortDesc="sortDesc"
    @update="loadTeachers" @click="handleClick">
  </BaseList>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import BaseList from '../Base/BaseList';
import { mapMutations } from 'vuex';

export default {
  name: 'TeacherList',
  components: { BaseList },
  mixins: [Utils],
  data() {
    return {
      title: "Teacher List",
      createLink: "/Users/Teachers/Create",
      searchHints: "search for teacher name, code, initial, email, mobile",
      sortBy: "user_id",
      sortDesc: false,
      total: 0,
      teachers: [],
      loading: false,
      headers: [
        { text: 'USER ID', value: 'user_id', width: 60, sortable: true },
        { text: 'TEACHER CODE', value: 'teacher_code', width: 80, sortable: true },
        { text: 'NAME', value: 'name', width: 100, sortable: true },
        { text: 'INITIAL', value: 'initial', width: 100, sortable: true },
        { text: 'EMAIL', value: 'email', width: 120, sortable: true },
        { text: 'MOBILE', value: 'mobile', width: 80, sortable: false },
        { text: 'GENDER', value: 'gender', width: 60, sortable: false },
        { text: 'ACTIONS', value: 'actions', width: 40, sortable: false },
      ]
    }
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    async loadTeachers(searchOptions) {
      this.loading = true;
      try {
        console.debug("loadTeachers:", searchOptions);
        const total = await apiClient.fetchCount('teachers', searchOptions);
        const teachers = await apiClient.fetchList('teachers', searchOptions);
        console.debug("Loaded teachers:", total.count, teachers.length);
        this.total = total.count;
        this.teachers = teachers;
      } catch (error) {
        this.setErrorMessage({
          title: "Load Teacher List",
          message: error
        });
      }
      this.loading = false;
    },
    handleClick(item) {
      console.debug("handleClick:", item);
      // this.$router.push({name: 'Teacher', id: item.user_id});
      this.$router.push({path: `/Users/Teachers/${item.user_id}`});
    },
  },
}
</script>
