<template>
  <BaseList :title="title" :headers="headers" :searchHints="searchHints" 
    :loading="loading" :total="total" :items="choices" 
    @update="loadChoices" @click="handleClick">
  </BaseList>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import BaseList from '../Base/BaseList';
import { mapMutations } from 'vuex';

export default {
  name: 'ChoiceList',
  components: { BaseList },
  mixins: [Utils],
  data() {
    return {
      title: "Choice List",
      searchHints: "search for category, label, value",
      total: 0,
      choices: [],
      headers: [
        { text: 'CHOICE ID', value: 'choice_id', width: 50, align: 'start', sortable: true },
        { text: 'CATEGORY', value: 'category', width: 80, sortable: true },
        { text: 'LABEL', value: 'text', width: 140, sortable: true },
        { text: 'VALUE', value: 'value', width: 100, sortable: true },
        // { text: 'ACTIONS', value: 'actions', width: 40, sortable: false },
      ]
    }
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    async loadChoices(searchOptions) {
      this.loading = true;
      try {
        console.debug("loadChoices:", searchOptions);
        const total = await apiClient.fetchCount('choices', searchOptions);
        const choices = await apiClient.fetchList('choices', searchOptions);
        console.debug("Loaded choices:", total.count, choices.length);
        this.total = total.count;
        this.choices = choices;
      } catch (error) {
        this.setErrorMessage({
          title: "Load Choice List",
          message: error
        });
      }
      this.loading = false;
    },
    handleClick(item) {
      console.debug("handleClick:", item);
      // this.$router.push({name: 'Choice', id: item.user_id});
      // this.$router.push({path: `/Users/Choices/${item.user_id}`});
    },
  },
}
</script>
