<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-row>
        <h2 class="mx-4 my-2">{{title}}</h2>
      </v-row>
      <v-row>
        <v-col>
            <v-file-input v-model="input.file" label="Source Excel File" 
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" outlined dense
              :rules="isImport ? rules.file : rules.file_export"
              :hint="isImport ? 'Require source .xlsx file' : 'Optional to provide a source .xlsx file'" persistent-hint></v-file-input>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-select v-model="input.sheets" outlined dense prepend-icon="mdi-file-document-multiple-outline"
            :items="choices.sheets" :menu-props="{ maxHeight: '400' }"
            label="Sheets" multiple :rules="rules.sheets"
            hint="Sheet Name(s)" persistent-hint></v-select>
        </v-col>
      </v-row>
      <v-row v-if="isImport">
        <v-col>
          <v-checkbox v-model="input.truncate" label="Truncate Original" dense class="mt-0"></v-checkbox>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-btn :disabled="!valid" color="success" v-if="isImport"
          class="mr-4 w-12" @click="handleImport" :loading="loading">Import</v-btn>
        <v-btn :disabled="!valid" color="success" v-else
          class="mr-4 w-12" @click="handleExport" :loading="loading">Export</v-btn>
        <v-btn color="error" class="mr-4 w-12" :disabled="loading">Reset</v-btn>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import { mapMutations } from 'vuex';

export default {
  mixins: [Utils],
  data() {
    return {
      valid: false,
      dirty: false,
      loading: false,
      choices: {
        sheets: []
      },
      input: {
        file: [],
        sheets: [],
        truncate: false
      },
      rules: {
        file_export: [],
        file: [
          v => v && (v.length > 0 || !!v.name) || 'Excel .xlsx file is required',
        ],
        sheets: [
          v => v && v.length > 0 || 'Sheet names are required',
        ],
      }
    }
  },
  computed: {
    isImport() {
      return (this.curPath == '/Admin/Import');
    },
    title() {
      return this.isImport ? 'Import Excel' : 'Export Excel';
    }
  },
  async mounted() {
    await this.loadExcelSheets();
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    getFormData() {
      let data = new FormData();
      data.set('sheets', this.input.sheets);
      if (this.input.file && this.input.file != [])
        data.set('file', this.input.file);
      if (this.isImport)
        data.set('truncate', this.input.truncate);
      return data;
    },
    async loadExcelSheets() {
      this.loading = true;
      try {
        this.choices.sheets = await apiClient.fetchList('choices/excel_sheets');
        // console.debug("Loaded choices:", this.choices);
      } catch (error) {
        console.error("Loaded sheets error:", error);
      }
      this.loading = false;
    },
    async handleImport() {
      this.$refs.form.validate();
      if (!this.valid)
        return;
      this.loading = true;
      try {
        console.debug("handleImport:", this.input);
        const r = await apiClient.postImport(this.getFormData());
        console.debug("handleImport r:", r);
        this.setErrorMessage({
          title: `Import Excel`,
          message: `Imported ${r.imported} records`,
          details: r.messages,
          info: true
        });
      } catch (error) {
        this.setErrorMessage({
          title: `Import Excel`,
          message: error
        });
      }
      this.loading = false;
    },
    async handleExport() {
      this.$refs.form.validate();
      if (!this.valid)
        return;
      this.loading = true;
      try {
        console.debug("handleExport:", this.input);
        const blob = await apiClient.postExport(this.getFormData());
        const url = window.URL.createObjectURL(new Blob([blob]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'export_kellyed.xlsx');
        document.body.appendChild(link);
        link.click();
      } catch (error) {
        this.setErrorMessage({
          title: `Export Excel`,
          message: error
        });
      }
      this.loading = false;
    },
  },
}
</script>