<template>
  <BaseList :title="title" :headers="headers" :createLink="createLink"
    :searchHints="searchHints" :loading="loading" :total="total" 
    :sortBy="sortBy" :sortDesc="sortDesc" :dateRange="dateRange" :dateLabel="dateLabel"
    :items="courses" @update="loadCourses" @click="handleClick">
  </BaseList>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import BaseList from '../Base/BaseList';
import { mapMutations } from 'vuex';

export default {
  name: 'CourseList',
  components: { BaseList },
  mixins: [Utils],
  data() {
    return {
      title: "Course List",
      createLink: "/School/Courses/Create",
      searchHints: "search for course name, code",
      sortBy: "lesson_first_date",
      sortDesc: true,
      dateRange: "lesson_first_date",
      dateLabel: "Lesson Date",
      total: 0,
      courses: [],
      loading: false,
      headers: [
        { text: 'COURSE ID', value: 'course_id', width: 60, sortable: true },
        { text: 'COURSE CODE', value: 'course_code', width: 80, sortable: true },
        { text: 'NAME', value: 'name', width: 100, sortable: true },
        { text: 'STATUS', value: 'status', width: 80, sortable: true },
        { text: 'PAID', value: 'paid_classes', width: 80, sortable: true },
        { text: 'FREE', value: 'free_classes', width: 80, sortable: true },
        { text: 'FREE GROUP', value: 'free_group_classes', width: 80, sortable: true },
        { text: 'TOTAL', value: 'total_classes', width: 80, sortable: true },
        { text: 'LESSON DATE', value: 'lesson_first_date', width: 100, sortable: true },
        { text: 'END DATE', value: 'end_date', width: 100, sortable: true },
        { text: 'ACTIONS', value: 'actions', width: 40, sortable: false },
      ],
    }
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    async loadCourses(searchOptions) {
      this.loading = true;
      try {
        console.debug("loadCourses:", searchOptions);
        const total = await apiClient.fetchCount('courses', searchOptions);
        let courses = await apiClient.fetchList('courses', searchOptions);
        courses = courses.map((c) => ({
          ...c, 
          // total_classes: c.paid_classes + c.free_classes + c.free_group_classes,
          lesson_first_date: this.formatDateTime(c.lesson_first_date),
          end_date: this.formatDateTime(c.end_date)
        }));
        console.debug("Loaded courses:", total.count, courses.length);
        this.total = total.count;
        this.courses = courses;
      } catch (error) {
        this.setErrorMessage({
          title: "Load Course List",
          message: error
        });
      }
      this.loading = false;
    },
    handleClick(item) {
      console.debug("handleClick:", item);
      // this.$router.push({name: 'Course', id: item.course_id});
      this.$router.push({path: `/School/Courses/${item.course_id}`});
    },
  },
}
</script>
