<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-row>
        <h2 class="mx-3 my-4">{{title}}</h2>
      </v-row>
      <v-row v-if="loading">
        <v-progress-linear indeterminate color="blue" />
        <v-col class="text-center">Loading ...</v-col>
      </v-row>
      <!-- Course Fields -->
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in courseFields" :key="index">
          <!-- <v-menu v-if="field.type == 'date'" :disabled="readonly" v-model="field.open"
            :close-on-content-click="false" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="course[field.name]" outlined dense 
                :label="field.label" readonly v-bind="attrs" v-on="on" />
            </template>
            <v-date-picker v-model="course[field.name]" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="field.open = false">OK</v-btn>
            </v-date-picker>
          </v-menu> -->
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="course[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="course[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="course[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <!-- Select Product -->
      <v-card outlined class="mt-3">
        <v-card-title :class="product_style_class">Product {{readonly ? '' : '(required)'}}</v-card-title>
        <v-card-text>
          <v-row v-if="!readonly">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="product" service="products" color="orange darken-4"
                label="Product Search" placeholder="input to search product" :readonly="readonly"
                icon="mdi-database-search" :labelFunc="(p) => `${p.product_code}: ${p.name}`" />
            </v-col>
          </v-row>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="productHeaders" :items="product ? [product] : []" 
                item-class="orange darken-3" disable-sort hide-default-footer 
                no-data-text="no product selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Product', item.product_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Select Teacher -->
      <v-card outlined class="mt-3">
        <v-card-title :class="teacher_style_class">Teacher</v-card-title>
        <v-card-text>
          <v-row v-if="!readonly">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="teacher" service="teachers" color="green darken-2"
                label="Teacher Search" placeholder="input to search teacher" :readonly="readonly"
                icon="mdi-account-search" :labelFunc="(p) => `${p.name} (${p.teacher_code})`"
                addNone />
            </v-col>
          </v-row>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="teacherHeaders" :items="teacher ? [teacher] : []" 
                hide-default-footer disable-sort
                no-data-text="no teacher selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Teacher', item.user_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Select Student -->
      <v-card outlined class="my-3">
        <v-card-title :class="student_style_class">Students</v-card-title>
        <v-card-text>
          <v-row v-if="!readonly">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="student" service="students" color="purple darken-2"
                label="Student Search" placeholder="input to search student" :readonly="readonly"
                icon="mdi-account-plus" :labelFunc="(p) => `${p.name} (${p.student_code})`" />
            </v-col>
          </v-row>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="studentHeaders" :items="students" 
                hide-default-footer disable-sort
                no-data-text="no students added" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Student', item.user_id)">mdi-open-in-new</v-icon>
                  <v-icon v-else @click.stop="deleteStudent(item)">mdi-delete</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Lesson List -->
      <v-card outlined class="my-3">
        <v-card-title :class="lesson_style_class">Lesson List</v-card-title>
        <v-card-text>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="lessonHeaders" :items="lessons" 
                hide-default-footer disable-sort
                no-data-text="no lessons added" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Lesson', item.lesson_id)">mdi-open-in-new</v-icon>
                  <!-- <v-icon v-else @click.stop="deleteLesson(item)">mdi-delete</v-icon> -->
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Action Buttons -->
      <v-row>
        <v-col cols="12">
          <v-btn v-if="creating" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()">Create</v-btn>
          <v-btn v-if="!creating && !editing" width="100px" color="primary" 
            :disabled="loading" @click="handleEdit(true)">Edit</v-btn>
          <ConfirmDialog title="Delete Course" message="Confirm to delete this course?"
            titleClass="white--text red lighten-1" @confirm="handleDelete">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-if="!creating && !editing" v-bind="attrs" v-on="on"
                width="100px" color="error" class="ml-4" 
                :disabled="loading">Delete</v-btn>
            </template>
          </ConfirmDialog>
          <v-btn v-if="readonly" width="180px" color="cyan darken-2 white--text" class="ml-4"
            :loading="loading" @click="createLesson()">Create Lesson</v-btn>
          <v-btn v-if="!editing" width="100px" color="normal" class="ml-4" 
            @click="handleBack">Back</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()" :disabled="!dirty">Confirm</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="normal" class="ml-4" 
            @click="handleEdit(false)">Cancel</v-btn>
        </v-col>
      </v-row>

    </v-form>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import AutoComplete from '../Base/AutoComplete';
import ConfirmDialog from '../Base/ConfirmDialog';
import { mapMutations } from 'vuex';

const product_style_class = "orange--text text--darken-4";
const teacher_style_class = "green--text text--darken-2";
const student_style_class = "purple--text text--darken-2";
const lesson_style_class = "blue--text text--darken-2";

export default {
  name: 'Course',
  components: { AutoComplete, ConfirmDialog },
  mixins: [Utils],
  data() {
    return {
      valid: false,
      dirty: false,
      loading: false,
      editing: false,
      page_size: 20,
      product_style_class,
      teacher_style_class,
      student_style_class,
      lesson_style_class,
      course: {
        product_id: 0,
        teacher_id: 0,
        course_code: "",
        name: "",
        status: "",
        paid_classes: 0,
        free_classes: 0,
        free_group_classes: 0,
        total_classes: 0,
        lesson_first_date: null,
        course_id: 0,
        updated_at: null
      },
      choices: {
        course_status: [],
      },
      // for product search
      product: null,
      // for teacher search
      teacher: null,
      // for student search
      student: null,
      students: [],
      // for lesson
      lessons: [],
      courseFields: [
        {
          name: "course_id",
          label: "Course ID",
          disabled: true,
        },
        {
          name: "course_code",
          label: "Course Code",
          required: true,
          rules: [
            v => !!v || 'Course Code is required',
            v => (v && v.length <= 15) || 'Course Code must be less than 15 characters',
          ]
        },
        {
          name: "name",
          label: "Course Name",
          required: true,
          rules: [
            v => !!v || 'Course Name is required',
          ]
        },
        {
          name: "course_intro",
          label: "Course Introduction",
        },
        {
          name: "status",
          label: "Course Status",
          choice: "course_status",
          required: true,
          rules: [
            v => !!v || 'Course Status is required',
          ]
        },
        {
          name: "paid_classes",
          label: "Paid Classes",
          type: 'number',
        },
        {
          name: "free_classes",
          label: "Free Classes",
          type: 'number',
        },
        {
          name: "free_group_classes",
          label: "Free Group Classes",
          type: 'number',
        },
        {
          name: "total_classes",
          label: "Total Classes",
          type: 'number',
          disabled: true,
          required: true,
          rules: [
            v => v > 0 || 'Total Classes must be greater than 0',
          ]
        },
        {
          name: "lesson_first_date",
          label: "Lesson First Date",
          type: 'date',
        },
        {
          name: "end_date",
          label: "Course End Date",
          type: 'date',
        },
        {
          name: "updated_at",
          label: "Updated Date",
          disabled: true,
        },
      ],
      productHeaders: [
        { text: 'PRODUCT CODE', value: 'product_code', width: 80, class: product_style_class },
        { text: 'NAME', value: 'name', width: 100, class: product_style_class  },
        { text: 'TRIAL', value: 'trial', width: 120, class: product_style_class  },
        { text: 'CATEGORY', value: 'category', width: 80, class: product_style_class  },
        { text: 'LANGUAGE', value: 'language', width: 80, class: product_style_class  },
        { text: 'FORMATION', value: 'formation', width: 80, class: product_style_class  },
        { text: 'LESSON PRICE', value: 'lesson_price', width: 60, class: product_style_class  },
        { text: 'ACTIONS', value: 'actions', width: 40, class: product_style_class },
      ],
      teacherHeaders: [
        { text: 'TEACHER CODE', value: 'teacher_code', width: 80, class: teacher_style_class },
        { text: 'NAME', value: 'name', width: 100, class: teacher_style_class },
        { text: 'INITIAL', value: 'initial', width: 100, class: teacher_style_class },
        { text: 'MOBILE', value: 'mobile', width: 80, class: teacher_style_class },
        { text: 'GENDER', value: 'gender', width: 60, class: teacher_style_class },
        { text: 'ACTIONS', value: 'actions', width: 40, class: teacher_style_class },
      ],
      studentHeaders: [
        { text: 'STUDENT CODE', value: 'student_code', width: 80, class: student_style_class },
        { text: 'NAME', value: 'name', width: 100, class: student_style_class },
        { text: 'INITIAL', value: 'initial', width: 100, class: student_style_class },
        { text: 'MOBILE', value: 'mobile', width: 80, class: student_style_class },
        { text: 'AGE', value: 'age', width: 40, class: student_style_class },
        { text: 'GENDER', value: 'gender', width: 60, class: student_style_class },
        { text: 'PARENT', value: 'parent', width: 120, class: student_style_class },
        { text: 'ACTIONS', value: 'actions', width: 40, class: student_style_class },
      ],
      lessonHeaders: [
        { text: 'LESSON NUMBER', value: 'lesson_number', width: 60, class: lesson_style_class },
        { text: 'STATUS', value: 'status', width: 80, class: lesson_style_class },
        { text: 'FREE LESSON', value: 'is_free', width: 80, class: lesson_style_class },
        { text: 'SCHEDULE TIME', value: 'schedule_time', width: 100, class: lesson_style_class },
        { text: 'START TIME', value: 'start_time', width: 100, class: lesson_style_class },
        { text: 'END TIME', value: 'end_time', width: 100, class: lesson_style_class },
        { text: 'ACTIONS', value: 'actions', width: 40, class: lesson_style_class },
        // { text: 'NO. ATTENDED', value: 'no_attended', width: 60, sortable: true },
        // { text: 'NO. ABSENT', value: 'no_absent', width: 60, sortable: true },
      ],
    }
  },
  watch: {
    // watch any course data changed
    course: {
      deep: true,
      handler(newVal) {
        if (!this.loading) {
          // console.debug("watch course:", newVal);
          // update total_classes
          this.course.total_classes = Math.floor(newVal.paid_classes) + 
            Math.floor(newVal.free_classes) + Math.floor(newVal.free_group_classes);
          this.dirty = true;
        } else {
          this.dirty = false;
        }
      }
    },
    // watch product search
    product(newVal) {
      console.debug("watch product:", newVal);
      const newId = newVal ? newVal.product_id : 0;
      if (this.course.product_id != newId) {
        this.course.product_id = newId;
        this.dirty = true;
      }
    },
    // watch teacher search
    teacher(newVal) {
      console.debug("watch teacher:", newVal);
      const newId = newVal ? newVal.user_id : 0;
      if (this.course.teacher_id != newId) {
        this.course.teacher_id = newId;
        this.dirty = true;
      }
    },
    // watch student search
    student(newVal) {
      console.debug("watch student:", newVal);
      // add new student
      if (newVal && !this.students.find((x) => x.user_id == newVal.user_id)) {
        // transform data
        const today = new Date();
        this.students.push({...newVal,
          parent: [newVal.parent_1, newVal.parent_2].filter((x) => (x)).join(", "),
          age: newVal.dob ? this.yearsDiff(newVal.dob, today) : 0
        });
        this.students.sort((a, b) => a.user_id - b.user_id);
        this.dirty = true;
        console.debug("added to students:", this.students);
      }
    },
  },
  computed: {
    curId() {
      const id = this.$route.params && this.$route.params.id || "";
      return id;
    },
    creating() {
      return (this.curId == "Create");
    },
    readonly() {
      return !this.creating && !this.editing;
    },
    title() {
      const curId = this.curId;
      return (curId == "Create") ? "Create Course" : `Course #${curId}`;
    },
    allValid() {
      return this.valid && this.product;
    },
  },
  async mounted() {
    const curId = this.curId;
    console.debug("router id:", curId);
    if (!this.creating)
      await this.loadCourse(curId);
    await this.loadChoices();
  },
  methods: {
    ...mapMutations(['setSnackMessage', 'setErrorMessage']),
    async loadCourse(id) {
      this.loading = true;
      try {
        this.course = await apiClient.fetch('courses', id);
        // format updated_at
        if (this.course.updated_at)
          this.course.updated_at = this.formatDateTime(this.course.updated_at);
        // mapping to data
        this.product = this.course.product;
        this.teacher = this.course.teacher;
        this.lessons = this.course.lessons;
        // transform data
        const today = new Date();
        this.students = this.course.students.map((p) => ({
          ...p, 
          parent: [p.parent_1, p.parent_2].filter((x) => (x)).join(", "),
          age: p.dob ? this.yearsDiff(p.dob, today) : 0
        }));
        console.debug("Loaded course:", this.course);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Course",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadChoices() {
      try {
        for (const category in this.choices) {
          this.choices[category] = await apiClient.fetchList(`choices/${category}`);
        }
        // console.debug("Loaded choices:", this.choices);
      } catch (error) {
        console.error("Loaded choices error:", error);
      }
    },
    handleValidate() {
      this.$refs.form.validate();
    },
    handleBack() {
      this.$router.go(-1);
    },
    handleEdit(edit) {
      if (!edit && this.dirty)
        this.loadCourse(this.curId);
      this.editing = edit;
      this.dirty = false;
    },
    async handleConfirm() {
      if (!this.dirty) {
        this.editing = false;
        return;
      }
      this.$refs.form.validate();
      if (!this.allValid)
        return;

      const tag = this.creating && "Create" || "Update";
      try {
        // mapping students to user_ids
        const data = {...this.course, students: this.students.map((x) => x.user_id)};
        if (tag == 'Create')
          this.course = await apiClient.post('courses', data);
        else
          await apiClient.put('courses', data.course_id, data);
        console.debug(`${tag}:`, this.course.course_id);
        this.dirty = false;
        this.editing = false;
        this.setSnackMessage({
          text: `Course "${this.course.course_code}" ${tag}d`
        });
        // replace to new course page
        if (this.creating) {
          this.$router.replace(`/School/Courses/${this.course.course_id}`);
        }
      } catch (error) {
        this.setErrorMessage({
          title: `${tag} Course`,
          message: error
        });
      }
    },
    async handleDelete() {
      try {
        console.debug("delete:", this.curId);
        await apiClient.delete('courses', this.curId);
        this.setSnackMessage({
          text: `Course "${this.course.course_code}" Deleted`
        });
        this.handleBack();
      } catch (error) {
        this.setErrorMessage({
          title: "Delete Cusomter",
          message: error
        });
      }
    },
    deleteStudent(student) {
      console.debug("delete student", student, this.student);
      if (this.student && this.student.user_id == student.user_id)
        this.student = null;
      this.students = this.students.filter((x) => x.user_id != student.user_id);
      this.dirty = true;
    },
    createLesson() {
      this.$router.push({
        name: 'Lesson', 
        params: {id: 'Create'}, 
        query: {course_id: this.course.course_id}
      });
    },
  },
}
</script>