<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-row>
        <h2 class="mx-3 my-4">{{title}}</h2>
      </v-row>
      <v-row v-if="loading">
        <v-progress-linear indeterminate color="blue" />
        <v-col class="text-center">Loading ...</v-col>
      </v-row>
      <!-- Course Fields -->
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in courseFields" :key="index">
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="course[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="course[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="course[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <!-- Lesson Fields -->
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in lessonFields" :key="index">
          <!-- <v-menu v-if="field.type == 'date'" :disabled="readonly" v-model="field.open"
            :close-on-content-click="false" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="lesson[field.name]" outlined dense 
                :label="field.label" readonly v-bind="attrs" v-on="on" />
            </template>
            <v-date-picker v-model="lesson[field.name]" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="field.open = false">OK</v-btn>
            </v-date-picker>
          </v-menu> -->
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="lesson[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="lesson[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="lesson[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <!-- Select TA -->
      <v-card outlined class="mt-3">
        <v-card-title :class="ta_style_class">TA</v-card-title>
        <v-card-text>
          <v-row v-if="editing">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="ta" service="staffs" color="green darken-2"
                label="TA Search" placeholder="input to search TA" :readonly="readonly"
                icon="mdi-account-search" :labelFunc="(p) => `${p.name} (${p.staff_code})`"
                addNone :moreCriteria="{'roles': 'Academic Team,Teacher Advisor'}" />
            </v-col>
          </v-row>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="taHeaders" :items="ta ? [ta] : []" 
                hide-default-footer disable-sort no-data-text="no TA selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Staff', item.user_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Select Teacher -->
      <v-card outlined class="mt-3">
        <v-card-title :class="teacher_style_class">Teacher</v-card-title>
        <v-card-text>
          <v-row v-if="editing">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="teacher" service="teachers" color="green darken-2"
                label="Teacher Search" placeholder="input to search teacher" :readonly="readonly"
                icon="mdi-account-search" :labelFunc="(p) => `${p.name} (${p.teacher_code})`"
                addNone />
            </v-col>
          </v-row>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="teacherHeaders" :items="teacher ? [teacher] : []" 
                hide-default-footer disable-sort no-data-text="no teacher selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Teacher', item.user_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Student List -->
      <v-card outlined class="my-3">
        <v-card-title :class="student_style_class">Students</v-card-title>
        <v-card-text>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="studentHeaders" :items="students" 
                hide-default-footer disable-sort no-data-text="no students" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Student', item.user_id)">mdi-open-in-new</v-icon>
                  <!-- <v-icon v-else @click.stop="deleteStudent(item)">mdi-delete</v-icon> -->
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Action Buttons -->
      <v-row>
        <v-col cols="12">
          <v-btn v-if="creating" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()">Create</v-btn>
          <v-btn v-if="!creating && !editing" width="100px" color="primary" 
            :disabled="loading" @click="handleEdit(true)">Edit</v-btn>
          <ConfirmDialog title="Delete Lesson" message="Confirm to delete this lesson?"
            titleClass="white--text red lighten-1" @confirm="handleDelete">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-if="!creating && !editing" v-bind="attrs" v-on="on"
                width="100px" color="error" class="ml-4" 
                :disabled="loading">Delete</v-btn>
            </template>
          </ConfirmDialog>
          <v-btn v-if="!editing" width="100px" color="normal" class="ml-4" 
            @click="handleBack">Back</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()" :disabled="!dirty">Confirm</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="normal" class="ml-4" 
            @click="handleEdit(false)">Cancel</v-btn>
        </v-col>
      </v-row>

    </v-form>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import AutoComplete from '../Base/AutoComplete';
import ConfirmDialog from '../Base/ConfirmDialog';
import { mapMutations } from 'vuex';

const ta_style_class = "orange--text text--darken-4";
const teacher_style_class = "green--text text--darken-2";
const student_style_class = "purple--text text--darken-2";

export default {
  name: 'Lesson',
  components: { AutoComplete, ConfirmDialog },
  mixins: [Utils],
  data() {
    return {
      valid: false,
      dirty: false,
      loading: false,
      searching: false,
      editing: false,
      page_size: 20,
      ta_style_class,
      teacher_style_class,
      student_style_class,
      lesson: {
        ta_id: 0,
        teacher_id: 0,
        is_free: false,
        lesson_number: 0,
        status: "",
        schedule_start: null,
        schedule_end: null,
        start_time: null,
        end_time: null,
        student_actions: [],
        updated_at: null
      },
      choices: {
        course_status: [],
      },
      // for course
      course: {},
      // for ta search
      ta: null,
      // for teacher search
      teacher: null,
      // for student search
      students: [],
      courseFields: [
        {
          name: "course_code",
          label: "Course Code",
          disabled: true,
        },
        {
          name: "name",
          label: "Course Name",
          disabled: true,
        },
        {
          name: "total_classes",
          label: "Course Total Classes",
          disabled: true,
        },
      ],
      lessonFields: [
        {
          name: "lesson_id",
          label: "Lesson ID",
          disabled: true,
        },
        {
          name: "lesson_number",
          label: "Lesson Number",
          type: 'number',
          required: true,
          rules: [
            v => v > 0 || 'Lesson Number must be greater than 0',
          ]
        },
        {
          name: "is_free",
          label: "Free Lesson",
          checkbox: true
        },
        {
          name: "status",
          label: "Lesson Status",
          choice: "course_status",
          required: true,
          rules: [
            v => !!v || 'Lesson Status is required',
          ]
        },
        {
          name: "schedule_start",
          label: "Schedule Start Time",
          type: 'datetime-local',
        },
        {
          name: "schedule_end",
          label: "Schedule End Time",
          type: 'datetime-local',
        },
        {
          name: "start_time",
          label: "Start Time",
          type: 'datetime-local',
        },
        {
          name: "end_time",
          label: "End Time",
          type: 'datetime-local',
        },
        {
          name: "updated_at",
          label: "Updated Date",
          disabled: true,
        },
      ],
      taHeaders: [
        { text: 'STAFF CODE', value: 'staff_code', width: 80, class: ta_style_class },
        { text: 'NAME', value: 'name', width: 100, class: ta_style_class },
        { text: 'INITIAL', value: 'initial', width: 100, class: ta_style_class },
        { text: 'MOBILE', value: 'mobile', width: 80, class: ta_style_class },
        { text: 'ACTIONS', value: 'actions', width: 40, class: ta_style_class },
      ],
      teacherHeaders: [
        { text: 'TEACHER CODE', value: 'teacher_code', width: 80, class: teacher_style_class },
        { text: 'NAME', value: 'name', width: 100, class: teacher_style_class },
        { text: 'INITIAL', value: 'initial', width: 100, class: teacher_style_class },
        { text: 'MOBILE', value: 'mobile', width: 80, class: teacher_style_class },
        { text: 'ACTIONS', value: 'actions', width: 40, class: teacher_style_class },
      ],
      studentHeaders: [
        { text: 'STUDENT CODE', value: 'student_code', width: 80, class: student_style_class },
        { text: 'NAME', value: 'name', width: 100, class: student_style_class },
        { text: 'INITIAL', value: 'initial', width: 100, class: student_style_class },
        { text: 'MOBILE', value: 'mobile', width: 80, class: student_style_class },
        { text: 'AGE', value: 'age', width: 40, class: student_style_class },
        { text: 'GENDER', value: 'gender', width: 60, class: student_style_class },
        { text: 'PARENT', value: 'parent', width: 120, class: student_style_class },
        { text: 'ATTENDANCE', value: 'attendance', width: 40, class: student_style_class },
        { text: 'ACTIONS', value: 'actions', width: 40, class: student_style_class },
      ],
    }
  },
  watch: {
    // watch any lesson data changed
    lesson: {
      deep: true,
      handler(newVal) {
        if (!this.loading) {
          // console.debug("watch lesson:", newVal);
          this.dirty = true;
        } else {
          this.dirty = false;
        }
      }
    },
    // watch ta search
    ta(newVal) {
      console.debug("watch ta:", newVal);
      const newId = newVal ? newVal.user_id : 0;
      if (this.lesson.ta_id != newId) {
        this.lesson.ta_id = newId;
        this.dirty = true;
      }
    },
    // watch teacher search
    teacher(newVal) {
      console.debug("watch teacher:", newVal);
      const newId = newVal ? newVal.user_id : 0;
      if (this.lesson.teacher_id != newId) {
        this.lesson.teacher_id = newId;
        this.dirty = true;
      }
    },
    // watch student search
  },
  computed: {
    curId() {
      const id = this.$route.params && this.$route.params.id || "";
      return id;
    },
    creating() {
      return (this.curId == "Create");
    },
    readonly() {
      return !this.creating && !this.editing;
    },
    title() {
      const curId = this.curId;
      return (curId == "Create") ? "Create Lesson" : `Lesson #${curId}`;
    },
    allValid() {
      return this.valid && this.course;
    },
  },
  async mounted() {
    const curId = this.curId;
    console.debug("router id:", curId);
    if (!this.creating) {
      await this.loadLesson(curId);
    } else {
      // load course
      const course_id = this.$route.query.course_id || 0;
      if (course_id) {
        await this.loadCourse(course_id);
        this.lesson.course_id = course_id;
      }
    }
    await this.loadChoices();
  },
  methods: {
    ...mapMutations(['setSnackMessage', 'setErrorMessage']),
    async loadCourse(id) {
      this.loading = true;
      try {
        const today = new Date();
        const course = await apiClient.fetch('courses', id);
        this.course = course;
        this.students = course.students.map(st => ({...st,
          parent: st && [st.parent_1, st.parent_2].filter((x) => (x)).join(", "),
          age: st && st.dob ? this.yearsDiff(st.dob, today) : 0
        }));
        const last_lesson_number = Math.max(...course.lessons.map((x) => x.lesson_number), 0);
        this.lesson.lesson_number = last_lesson_number + 1;
        console.debug("Loaded course:", this.course, this.students);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Course",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadLesson(id) {
      this.loading = true;
      try {
        this.lesson = await apiClient.fetch('lessons', id);
        // format updated_at
        if (this.lesson.updated_at)
          this.lesson.updated_at = this.formatDateTime(this.lesson.updated_at);
        this.course = this.lesson.course;
        this.ta = this.lesson.ta;
        this.teacher = this.lesson.teacher;
        // transform data
        const sactions = this.lesson.student_actions || [];
        const attendDict = Object.assign({}, ...sactions.map((x) => ({[x.user_id]: x.attendance})))
        const today = new Date();
        this.students = this.lesson.students.map((p) => ({
          ...p, 
          parent: [p.parent_1, p.parent_2].filter((x) => (x)).join(", "),
          age: p.dob ? this.yearsDiff(p.dob, today) : 0,
          attendance: attendDict[p.user_id] || "",
        }));
        console.debug("Loaded lesson:", this.lesson);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Lesson",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadChoices() {
      try {
        for (const category in this.choices) {
          this.choices[category] = await apiClient.fetchList(`choices/${category}`);
        }
        // console.debug("Loaded choices:", this.choices);
      } catch (error) {
        console.error("Loaded choices error:", error);
      }
    },
    async loadStaffList(keyword) {
      console.debug("loadStaffList:", keyword);
      this.searching = true;
      try {
        const taList = await apiClient.fetchList('staffs', {
          keyword: keyword,
          page_size: this.page_size,
          names_only: true,
          roles: 'Teacher Advisor'
        });
        // transform data
        this.taList = taList.map((p) => ({
          ...p, 
          label: `${p.staff_code}: ${p.name}`
        }));
        console.debug("Loaded tas:", this.taList);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Staff List",
          message: error
        });
      }
      // end searching after watch
      this.$nextTick(() => {
        this.searching = false;
      });
    },
    async loadTeacherList(keyword) {
      console.debug("loadTeacherList:", keyword);
      this.searching = true;
      try {
        const teacherList = await apiClient.fetchList('teachers', {
          keyword: keyword,
          page_size: this.page_size,
          names_only: true
        });
        // transform data
        this.teacherList = teacherList.map((p) => ({
          ...p, 
          label: `${p.name} (${p.teacher_code})`
        }));
        console.debug("Loaded teachers:", this.teacherList);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Teacher List",
          message: error
        });
      }
      // end searching after watch
      this.$nextTick(() => {
        this.searching = false;
      });
    },
    async loadStudentList(keyword) {
      console.debug("loadStudentList:", keyword);
      this.searching = true;
      try {
        const studentList = await apiClient.fetchList('students', {
          keyword: keyword,
          page_size: this.page_size,
          names_only: true
        });
        // transform data
        const today = new Date();
        this.studentList = studentList.map((p) => ({
          ...p, 
          label: `${p.name} (${p.student_code})`,
          parent: [p.parent_1, p.parent_2].filter((x) => (x)).join(", "),
          age: p.dob ? this.yearsDiff(p.dob, today) : 0
        }));
        console.debug("Loaded students:", this.studentList);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Student List",
          message: error
        });
      }
      // end searching after watch
      this.$nextTick(() => {
        this.searching = false;
      });
    },
    handleValidate() {
      this.$refs.form.validate();
    },
    handleBack() {
      this.$router.go(-1);
    },
    handleEdit(edit) {
      if (!edit && this.dirty)
        this.loadLesson(this.curId);
      this.editing = edit;
      this.dirty = false;
    },
    async handleConfirm() {
      if (!this.dirty) {
        this.editing = false;
        return;
      }
      this.$refs.form.validate();
      if (!this.valid)
        return;

      const tag = this.creating && "Create" || "Update";
      try {
        // mapping students to user_ids
        const data = {...this.lesson};
        if (tag == 'Create')
          this.lesson = await apiClient.post('lessons', data);
        else
          await apiClient.put('lessons', data.lesson_id, data);
        console.debug(`${tag}:`, this.lesson.lesson_id, data);
        this.dirty = false;
        this.editing = false;
        this.setSnackMessage({
          text: `Lesson "${this.lesson.lesson_id}" ${tag}d`
        });
        // replace to new lesson page
        if (this.creating) {
          this.$router.replace({name: 'Lesson', params: {id: this.lesson.lesson_id}});
        }
      } catch (error) {
        this.setErrorMessage({
          title: `${tag} Lesson`,
          message: error
        });
      }
    },
    async handleDelete() {
      try {
        console.debug("delete:", this.curId);
        await apiClient.delete('lessons', this.curId);
        this.setSnackMessage({
          text: `Lesson "${this.lesson.lesson_id}" Deleted`
        });
        this.handleBack();
      } catch (error) {
        this.setErrorMessage({
          title: "Delete Cusomter",
          message: error
        });
      }
    },
    // deleteStudent(student) {
    //   console.debug("delete student", student);
    //   if (this.student && this.student.user_id == student.user_id)
    //     this.student = null;
    //   this.students = this.students.filter((x) => x.user_id != student.user_id);
    //   this.dirty = true;
    // }
  },
}
</script>