<template>
  <BaseList :title="title" :headers="headers" :searchHints="searchHints"
    :loading="loading" :total="total" :items="lessons" 
    :sortBy="sortBy" :sortDesc="sortDesc" :dateRange="dateRange" :dateLabel="dateLabel"
    @update="loadLessons" @click="handleClick">
  </BaseList>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import BaseList from '../Base/BaseList';
import { mapMutations } from 'vuex';

export default {
  name: 'LessonList',
  components: { BaseList },
  mixins: [Utils],
  data() {
    return {
      title: "Lesson List",
      searchHints: "search for course name, code",
      sortBy: "schedule_start",
      sortDesc: true,
      dateRange: "schedule_start",
      dateLabel: "Schedule",
      total: 0,
      lessons: [],
      loading: false,
      headers: [
        { text: 'LESSON ID', value: 'lesson_id', width: 60, sortable: true },
        { text: 'COURSE CODE', value: 'course_code', width: 80, sortable: true },
        { text: 'COURSE NAME', value: 'course_name', width: 80, sortable: true },
        { text: 'LESSON NUMBER', value: 'lesson_number', width: 60, sortable: true },
        { text: 'TOTAL LESSON', value: 'total_classes', width: 60, sortable: true },
        { text: 'STATUS', value: 'status', width: 80, sortable: true },
        { text: 'FREE LESSON', value: 'is_free', width: 80, sortable: true },
        { text: 'SCHEDULE START', value: 'schedule_start', width: 100, sortable: true },
        { text: 'SCHEDULE END', value: 'schedule_end', width: 100, sortable: true },
        { text: 'START TIME', value: 'start_time', width: 100, sortable: true },
        { text: 'END TIME', value: 'end_time', width: 100, sortable: true },
        { text: 'ACTIONS', value: 'actions', width: 40, sortable: false },
        // { text: 'NO. ATTENDED', value: 'no_attended', width: 60, sortable: true },
        // { text: 'NO. ABSENT', value: 'no_absent', width: 60, sortable: true },
      ],
    }
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    async loadLessons(searchOptions) {
      this.loading = true;
      try {
        console.debug("loadLessons:", searchOptions);
        const total = await apiClient.fetchCount('lessons', searchOptions);
        let lessons = await apiClient.fetchList('lessons', searchOptions);
        lessons = lessons.map((c) => ({
          ...c, 
          schedule_start: this.formatDateTime(c.schedule_start),
          schedule_end: this.formatDateTime(c.schedule_end),
          start_time: this.formatDateTime(c.start_time),
          end_time: this.formatDateTime(c.end_time),
          // no_attended: c.student_attended && c.student_attended.length,
          // no_absent: c.student_absent && c.student_absent.length,
        }));
        console.debug("Loaded lessons:", total.count, lessons.length);
        this.total = total.count;
        this.lessons = lessons;
      } catch (error) {
        this.setErrorMessage({
          title: "Load Lesson List",
          message: error
        });
      }
      this.loading = false;
    },
    handleClick(item) {
      console.debug("handleClick:", item);
      this.$router.push({name: 'Lesson', params: {id: item.lesson_id}});
      // this.$router.push({path: `/School/Lessons/${item.lesson_id}`});
    },
  },
}
</script>
