<template>
  <BaseList :title="title" :headers="headers" :createLink="createLink"
    :searchHints="searchHints" :loading="loading" :total="total" :items="products" 
    :sortBy="sortBy" :sortDesc="sortDesc"
    @update="loadProducts" @click="handleClick">
  </BaseList>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import BaseList from '../Base/BaseList';
import { mapMutations } from 'vuex';

export default {
  name: 'ProductList',
  components: { BaseList },
  mixins: [Utils],
  data() {
    return {
      title: "Product List",
      createLink: "/School/Products/Create",
      searchHints: "search for category, language, formation, level",
      sortBy: "product_id",
      sortDesc: false,
      total: 0,
      products: [],
      loading: false,
      headers: [
        { text: 'PRODUCT ID', value: 'product_id', width: 60, sortable: true },
        { text: 'PRODUCT CODE', value: 'product_code', width: 80, sortable: true },
        { text: 'NAME', value: 'name', width: 100, sortable: true },
        { text: 'TRIAL', value: 'trial', width: 120, sortable: true },
        { text: 'CATEGORY', value: 'category', width: 80, sortable: true },
        { text: 'LANGUAGE', value: 'language', width: 80, sortable: true },
        { text: 'FORMATION', value: 'formation', width: 80, sortable: true },
        { text: 'LESSON PRICE', value: 'lesson_price', width: 60, sortable: true },
        { text: 'ACTIONS', value: 'actions', width: 40, sortable: false },
      ],
    }
  },
  mounted() {
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    async loadProducts(searchOptions) {
      this.loading = true;
      try {
        console.debug("loadProducts:", searchOptions);
        const total = await apiClient.fetchCount('products', searchOptions);
        const products = await apiClient.fetchList('products', searchOptions);
        console.debug("Loaded products:", total.count, products.length);
        this.total = total.count;
        this.products = products;
      } catch (error) {
        this.setErrorMessage({
          title: "Load Product List",
          message: error
        });
      }
      this.loading = false;
    },
    handleClick(item) {
      console.debug("handleClick:", item);
      // this.$router.push({name: 'Product', id: item.product_id});
      this.$router.push({path: `/School/Products/${item.product_id}`});
    },
  },
}
</script>
