<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-row>
        <h2 class="mx-3 my-4">{{title}}</h2>
      </v-row>
      <v-row v-if="loading">
        <v-progress-linear indeterminate color="blue" />
        <v-col class="text-center">Loading ...</v-col>
      </v-row>
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in productFields" :key="index">
          <!-- <v-menu v-if="field.type == 'date'" :disabled="readonly" v-model="field.open"
            :close-on-content-click="false" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="product[field.name]" outlined dense 
                :label="field.label" readonly v-bind="attrs" v-on="on" />
            </template>
            <v-date-picker v-model="product[field.name]" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="field.open = false">OK</v-btn>
            </v-date-picker>
          </v-menu> -->
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="product[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="product[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="product[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-btn v-if="creating" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()">Create</v-btn>
          <v-btn v-if="!creating && !editing" width="100px" color="primary" 
            :disabled="loading" @click="handleEdit(true)">Edit</v-btn>
          <ConfirmDialog title="Delete Product" message="Confirm to delete this product?"
            titleClass="white--text red lighten-1" @confirm="handleDelete">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-if="!creating && !editing" v-bind="attrs" v-on="on"
                width="100px" color="error" class="ml-4" 
                :disabled="loading">Delete</v-btn>
            </template>
          </ConfirmDialog>
          <v-btn v-if="!editing" width="100px" color="normal" class="ml-4" 
            @click="handleBack">Back</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()" :disabled="!dirty">Confirm</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="normal" class="ml-4" 
            @click="handleEdit(false)">Cancel</v-btn>
        </v-col>
      </v-row>

    </v-form>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import ConfirmDialog from '../Base/ConfirmDialog';
import { mapMutations } from 'vuex';

export default {
  name: 'Product',
  mixins: [Utils],
  components: { ConfirmDialog },
  data() {
    return {
      valid: false,
      dirty: false,
      loading: false,
      editing: false,
      hpasswd: "",
      product: {
        product_id: 0,
        product_code: "",
        name: "",
        trial: false,
        category: "",
        language: "",
        formation: "",
        level: "",
        lessson_price: "",
        updated_at: null
      },
      choices: {
        category: [],
        language: [],
        formation: []
      },
      productFields: [
        {
          name: "product_id",
          label: "Product ID",
          disabled: true,
        },
        {
          name: "product_code",
          label: "Product Code",
          required: true,
          rules: [
            v => !!v || 'Product Code is required',
            v => (v && v.length <= 15) || 'Product Code must be less than 15 characters',
          ]
        },
        {
          name: "name",
          label: "Product Name",
          required: true,
          rules: [
            v => !!v || 'Product Name is required',
          ]
        },
        {
          name: "trial",
          label: "Trial Course",
          checkbox: true
        },
        {
          name: "category",
          label: "Category",
          choice: "category",
          required: true
        },
        {
          name: "language",
          label: "Language",
          choice: "language",
          required: true
        },
        {
          name: "formation",
          label: "Formation",
          choice: "formation",
          required: true
        },
        {
          name: "level",
          label: "Level",
        },
        {
          name: "lesson_price",
          label: "Lesson Price",
          type: "number",
          required: true
        },
        {
          name: "updated_at",
          label: "Updated Date",
          disabled: true,
        },
      ],
    }
  },
  watch: {
    // watch any product data changed
    product: {
      deep: true,
      handler() {
        if (!this.loading) {
          // console.debug("watch product:", newVal, oldVal);
          this.dirty = true;
        } else {
          this.dirty = false;
        }
      }
    }
  },
  computed: {
    curId() {
      const id = this.$route.params && this.$route.params.id || "";
      return id;
    },
    creating() {
      return (this.curId == "Create");
    },
    readonly() {
      return !this.creating && !this.editing;
    },
    title() {
      const curId = this.curId;
      return (curId == "Create") ? "Create Product" : `Product #${curId}`;
    },
  },
  async mounted() {
    const curId = this.curId;
    console.debug("router id:", curId);
    if (!this.creating)
      await this.loadProduct(curId);
    await this.loadChoices();
  },
  methods: {
    ...mapMutations(['setSnackMessage', 'setErrorMessage']),
    async loadProduct(id) {
      this.loading = true;
      try {
        this.product = await apiClient.fetch('products', id);
        // format updated_at
        if (this.product.updated_at)
          this.product.updated_at = this.formatDateTime(this.product.updated_at);
        console.debug("Loaded product:", this.product);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Product",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadChoices() {
      try {
        for (const category in this.choices) {
          this.choices[category] = await apiClient.fetchList(`choices/${category}`);
        }
        // console.debug("Loaded choices:", this.choices);
      } catch (error) {
        console.error("Loaded choices error:", error);
      }
    },
    handleValidate() {
      this.$refs.form.validate();
    },
    handleBack() {
      this.$router.go(-1);
    },
    handleEdit(edit) {
      if (!edit && this.dirty)
        this.loadProduct(this.curId);
      this.editing = edit;
      this.dirty = false;
    },
    async handleConfirm() {
      if (!this.dirty) {
        this.editing = false;
        return;
      }
      this.$refs.form.validate();
      if (!this.valid)
        return;

      const tag = this.creating && "Create" || "Update";
      try {
        if (tag == 'Create')
          this.product = await apiClient.post('products', this.product);
        else
          await apiClient.put('products', this.product.product_id, this.product);
        console.debug(`${tag}:`, this.product.product_id);
        this.dirty = false;
        this.editing = false;
        this.setSnackMessage({
          text: `Product "${this.product.product_code}" ${tag}d`
        });
        // replace to new product page
        if (this.creating) {
          this.$router.replace(`/School/Products/${this.product.product_id}`);
        }
      } catch (error) {
        this.setErrorMessage({
          title: `${tag} Product`,
          message: error
        });
      }
    },
    async handleDelete() {
      try {
        console.debug("delete:", this.curId);
        await apiClient.delete('products', this.curId);
        this.setSnackMessage({
          text: `Product "${this.product.product_code}" Deleted`
        });
        this.handleBack();
      } catch (error) {
        this.setErrorMessage({
          title: "Delete Cusomter",
          message: error
        });
      }
    }
  },
}
</script>