/* custom width and height size styles */
.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.h-auto {
  height: auto;
}

.h-100 {
  height: 100%;
}

.w-10 {
  width: 100px;
}

.w-12 {
  width: 120px;
}

.w-15 {
  width: 150px;
}

.bt-light-1 {
  border-top: thin solid rgba(0, 0, 0, 0.12);
}

.bb-light-1 {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
}

/* overrided read-only selection style */
.theme--light.v-select .v-select__selection--disabled {
  color: inherit !important;
}