<template>
  <v-autocomplete v-model="item" :items="choices" :loading="loading"
    :search-input.sync="search" item-text="label" append-icon=""
    :color="color" :label="label" :placeholder="placeholder" :readonly="readonly"
    clearable return-object hide-details hide-no-data outlined dense
    @keydown="handleKeydown" >
  <template v-slot:append v-if="icon">
    <v-icon>{{icon}}</v-icon>
  </template>
  </v-autocomplete>
</template>

<script>
import Utils, { debounce } from '@/mixins/Utils';
import Service from '@/mixins/Service';

export default {
  name: 'AutoComplete',
  mixins: [Utils, Service],
  props: {
    service: {
      type: String,
      required: true,
    },
    labelFunc: {
      type: Function,
      required: true,
    },
    moreCriteria: Object,
    value: Object,
    icon: String,
    addNone: Boolean,
    // v-autocomplete props
    color: String,
    label: String,
    placeholder: String,
    readonly: Boolean,
  },
  data() {
    return {
      loading: false,
      item: null,
      choices: [],
      itemLabel: '',
      search: "",
      lastSearch: "",
      maxChoice: 20,
    }
  },
  watch: {
    // watch search
    search: debounce(function(newVal) {
      // do load search list when keyword character greater than 1
      // and it is a narrow down case
      // console.debug("watch search:", newVal, this.lastSearch);
      if (newVal && newVal.length > 1 && newVal != this.itemLabel &&
        (!this.lastSearch || newVal.length < this.lastSearch.length ||
        !newVal.startsWith(this.lastSearch) || this.choices.length >= this.maxChoice)) {
        this.loadSearchList(newVal);
      } else if (!newVal || newVal.length < 2) {
        // clear choices when empty keyword
        this.lastSearch = "";
        this.choices = [];
      }
    }, 500),
    item(newVal) {
      // console.debug("watch item:", newVal);
      this.itemLabel = newVal ? newVal.label : '';
      if (newVal)
        this.$emit('input', newVal.value);
    },
    value(newVal) {
      if (!newVal) {
        // reset search when null value
        this.item = null;
        this.search = "";
      }
    }
  },
  methods: {
    async loadSearchList(keyword) {
      // console.debug("loadSearchList:", keyword);
      const items = await this.loadItemList(this.service, {
          keyword: keyword,
          page_size: this.maxChoice,
          names_only: true,
          ...this.moreCriteria
      }, 'loading');
      // record down last search
      if (items.length > 0)
        this.lastSearch = keyword;
      this.choices = items.map((p) => ({
        label: this.labelFunc(p),
        value: p
      }));
      // add None if needed
      if (this.addNone) {
        this.choices = [{label: 'None', value: null}, ...this.choices]; 
      }
    },
    handleKeydown(e) {
      // console.debug("keydown:", e);
      if (e.code == "Escape")
        this.search = "";
    }
  },
}
</script>