<template>
  <v-container fluid>
    <v-data-table :headers="headers" :items="items" class="bb-light-1"
      :loading="loading" item-key="index" :search="keyword" 
      :page="page" :items-per-page="options.itemsPerPage"
      :options.sync="options" :server-items-length="total"
      :footer-props="footerProps" must-sort
      :hide-default-footer="$mq != 'sm'"
      @page-count="pageCount = $event"
      @update:options="handleUpdate" >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>{{title}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn v-if="createLink" color="primary" dark class="mb-2" :to="createLink">Create</v-btn>
        </v-toolbar>
        <v-row>
          <v-col class="flex-grow-1">
            <v-text-field :value="keyword" clearable
              label="Search" class="mx-4 pt-0" :placeholder="searchHints"
              @change="handleSearch" append-icon="mdi-magnify"
              @click:clear="handleSearch('')" />
          </v-col>
          <v-col v-if="dateRange" class="flex-grow-0 flex-shrink-1 d-none d-sm-flex">
            <v-text-field type="date" v-model="dateStart" :label="dateLabel + ' Start'" 
              clearable outlined dense @change="handleDateChange()" 
              @click:clear="handleDateChange(true, false)" />
            <v-text-field type="date" v-model="dateEnd" :label="dateLabel + ' End'" 
              clearable class="ml-1" outlined dense @change="handleDateChange()" 
              @click:clear="handleDateChange(false, true)" />
          </v-col>
          <v-col class="flex-grow-0 flex-shrink-1 d-none d-sm-flex">
            <v-select prefix="Rows per page:" type="number" outlined dense class="pt-0"
              v-model="options.itemsPerPage" :items="footerProps.itemsPerPageOptions"
              @change="updateItemsPerPage">
            </v-select>
          </v-col>
        </v-row>
      </template>
      <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
        <v-icon @click.stop="handleClick(item)">mdi-open-in-new</v-icon>
      </template>
    </v-data-table>
    <v-pagination v-if="$mq != 'sm'" v-model="page" :length="pageCount" :total-visible="pageVisible" 
      dense class="pt-2"/>
  </v-container>
</template>

<script>
import Utils from '@/mixins/Utils';
import { mapGetters, mapMutations } from 'vuex';

export default {
  name: 'BaseList',
  mixins: [Utils],
  props: {
    title: String,
    headers: Array,
    searchHints: String,
    createLink: String,
    items: Array,
    total: Number,
    loading: Boolean,
    sortBy: String,
    sortDesc: Boolean,
    dateRange: String,
    dateLabel: {
      type: String,
      default: "Date",
    },
  },
  computed: {
    ...mapGetters(['itemsPerPage'])
  },
  data() {
    return {
      page: 1,
      pageCount: 0,
      pageVisible: 9,
      dateStart: null,
      dateEnd: null,
      options: {
        page: 1,
        itemsPerPage: 10,
      },
      lastOptions: {},
      keyword: '',
      footerProps: {
        itemsPerPageOptions: [5, 10, 15, 20, 30]
      },
    }
  },
  beforeMount() {
    const {k, ds, de, p, ps, sb, sd} = this.$router.currentRoute.query;
    console.debug("beforeMount:", k, ds, de, p, sb, sd);
    if (k != undefined)
      this.keyword = k;
    if (ds != undefined)
      this.dateStart = this.formatDate(new Date(ds * 1000));
    if (de != undefined)
      this.dateEnd = this.formatDate(new Date(de * 1000));
    if (p != undefined) {
      this.page = parseInt(p) + 1;
      this.options.page = parseInt(p) + 1;
    }
    if (sb != undefined) {
      this.options.sortBy = [sb];
      if (sd != undefined)
        this.options.sortDesc = [parseInt(sd) > 0];
    } else if (this.sortBy != undefined) {   // default sortBy and sortDesc
      this.options.sortBy = [this.sortBy];
      this.options.sortDesc = [this.sortDesc];
    }
    if (ps != undefined)
      this.options.itemsPerPage = parseInt(ps);
    else
      this.options.itemsPerPage = this.itemsPerPage;
    // callback update
    const searchOptions = this.getSearchOptions(this.options,
      this.keyword, this.dateRange, this.dateStart, this.dateEnd);
    this.lastOptions = searchOptions;
    this.$emit('update', this.searchQueryParams(searchOptions));
  },
  methods: {
    ...mapMutations(['setItemsPerPage']),
    handleUpdate() {
      // console.debug("handleUpdate:", this.options);
      this.callbackUpdate();
    },
    handleClick(item) {
      this.$emit('click', item);
    },
    handleSearch(keyword) {
      // console.debug("search:", keyword)
      this.keyword = keyword;
      this.page = 1;    // reset page after search
      this.options.page = 1;
      this.callbackUpdate();
    },
    handleDateChange(clearStart, clearEnd) {
      // console.debug("handleDateChange:", this.dateStart, this.dateEnd);
      if (clearStart)
        this.dateStart = null;
      if (clearEnd)
        this.dateEnd = null;
      this.page = 1;    // reset page after search
      this.options.page = 1;
      this.callbackUpdate();
    },
    callbackUpdate() {
      // new routing for any changed
      const searchOptions = this.getSearchOptions(this.options,
        this.keyword, this.dateRange, this.dateStart, this.dateEnd);
      if (!this.shallowEqual(searchOptions, this.lastOptions)) {
        const route = this.$router.currentRoute;
        // replace route
        const newRoute = {name: route.name, query: searchOptions};
        console.debug("replace to newRoute:", newRoute);
        this.$router.replace(newRoute)
        // this.lastOptions = {...this.options, keyword: this.keyword};
      }
    },
    updateItemsPerPage(newVal) {
      // console.debug("updateItemsPerPage:", newVal);
      this.setItemsPerPage(newVal);
    }
  },
}
</script>
