<template>
  <v-breadcrumbs class="blue-grey lighten-5 mx-0 px-4 py-2" v-if="shown" :items="items">
  </v-breadcrumbs>
</template>

<script>
export default {
  computed: {
    shown() {
      return (this.$route.name != "Login" && this.$route.name != "Logout");
    },
    items() {
      // console.debug("previous route:", this.$route, this.$router.prevRoute);
      const paths = this.$route.path.split("/").slice(1);
      const links = paths.map((p) => ({
        text: p
      }));
      if (links.length > 2) {
        let parentHref = "/" + paths.slice(0, 2).join("/");
        const prevRoute = this.$router.prevRoute;
        const tlink = links[1];
        if (prevRoute && prevRoute.path == parentHref) {
          tlink.href = "javascript:history.go(-1);";
        } else {
          tlink.href = "#" + parentHref;
        }
      }
      console.debug("breadcrumbs:", links);
      return links;
    }
  }
}
</script>

<style>

</style>