<template>
  <v-dialog v-model="dialog" width="500" v-bind="$attrs" v-on="$listeners">
    <!-- slot inheritance -->
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope"/>
    </template>
    <v-card>
      <v-card-title :class="titleClass">
        <v-icon v-if="icon" large left>mdi-{{icon}}</v-icon>
        {{title}}
      </v-card-title>
      <v-card-text class="mt-4 text-body-1">
        {{message}}
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="justify-center">
        <v-btn color="primary" @click="handleClick(true)" class="mr-4 px-4">{{confirmText}}</v-btn>
        <v-btn color="secondary" @click="handleClick(false)" class="px-4">{{cancelText}}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    title: {
      type: String,
      required: true
    },
    message: {
      type: String,
      required: true
    },
    icon: String,
    confirmText: {
      type: String,
      default: "Confirm"
    },
    cancelText: {
      type: String,
      default: "Cancel"
    },
    titleClass: {
      type: String,
      default: "white--text blue darken-2"
    }
  },
  data() {
    return {
      dialog: false,
    }
  },
  methods: {
    handleClick(action) {
      if (action)
        this.$emit('confirm', action);
      this.dialog = false;
    }
  }
}
</script>