<template>
  <v-dialog v-model="errorMessage.open" width="500">
    <v-card>
      <v-card-title :class="classNames">
          <v-icon large left>mdi-{{icon}}</v-icon>
        {{errorMessage.title}}
      </v-card-title>
      <v-card-text class="mt-4">
        {{errorMessage.message}}
        <ul>
          <li v-for="(line, index) in errorMessage.details" :key="index">
            {{line}}
          </li>
        </ul>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="handleClick">Okay</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  watch: {
    errorMessage(val) {
      // redirect and save current page as post login page for 401 error
      // console.debug("errorMessage:", this.errorMessage);
      if (val.status == 401 && this.$router.currentRoute.path != '/Login') {
        this.errorMessage.open = false;
        this.$router.postLoginPath = this.$router.currentRoute.path;
        this.$router.replace("/Login");
      }
    }
  },
  computed: {
    ...mapGetters(['errorMessage']),
    classNames() {
      return this.errorMessage.info ? 'green lighten-1' : 'red lighten-1'
    },
    icon() {
      return this.errorMessage.info ? 'information-outline' : 'alert';
    }
  },
  methods: {
    handleClick() {
      this.errorMessage.open = false;
      const click = this.errorMessage.click;
      if (click)
        click();
    }
  }
}
</script>

<style>

</style>