<template>
  <!-- snackbar for action done --->
  <v-snackbar v-model="snackMessage.snackbar" :timeout="snackMessage.timeout">
    {{ snackMessage.text }}

    <template v-slot:action="{ attrs }">
      <v-btn :color="snackMessage.color" text v-bind="attrs" @click="snackMessage.snackbar = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['snackMessage'])
  }
}
</script>

<style>

</style>