<template>
  <v-app-bar v-if="curUser" app color="white" flat class="bar-bline">
    <v-app-bar-nav-icon class="d-block d-md-none"></v-app-bar-nav-icon>
    <v-toolbar-title class="pl-0">
      <a href="/">
        <v-img src="@/assets/kelly_logo.png"
          max-width="100" max-height="64" contain position="left center"></v-img>
      </a>
    </v-toolbar-title>
    <!-- <v-tabs v-if="false" centered class="ml-n9" color="purple darken-1" :value="curIndex" @change="handleChange">
      <v-menu open-on-hover offset-y v-for="item in menu" :key="item.name">
        <template v-slot:activator="{ on, attrs }">
          <v-tab v-bind="attrs" v-on="on"
            class="py-2 mx-2" min-width="200px">
            {{ item.name }}
          </v-tab>
        </template>
        <v-list dense>
          <v-list-item>
            <router-link to="/Preference">Preference</router-link>
          </v-list-item>
          <v-list-item>
            <router-link to="/Logout">Logout</router-link>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-tabs> -->
    <v-row justify="center" class="d-none d-md-flex">
      <v-menu open-on-hover offset-y v-for="item in menu" :key="item.name">
        <template v-slot:activator="{ on, attrs }">
          <v-btn :to="item.path" class="menu-item blue lighten-5 py-2 mx-2"
            v-bind="attrs" v-on="on" elevation="0" >
            <v-icon left>{{ item.icon }}</v-icon>
            {{ item.name }}
          </v-btn>
        </template>
        <v-list v-if="item.children" dense class="blue lighten-5">
          <v-list-item v-for="child in item.children" :key="child.name"
            link :href="'#' + child.path" :disabled="child.disabled">
            <v-list-item-content v-text="child.name" />
          </v-list-item>
        </v-list>
      </v-menu>
    </v-row>
    <v-spacer class="d-block d-md-none" />
    <v-menu open-on-hover offset-y>
      <template v-slot:activator="{ on, attrs }">
        <div v-bind="attrs" v-on="on">
          <v-avatar color="grey darken-1 shrink" size="32">
            <v-img :src="avatarImage" />
          </v-avatar>
          <span class="ml-2">{{curUser.name}}</span>
        </div>
      </template>
      <v-list dense>
        <v-list-item v-for="menu in userMenu" :key="menu.name"
          link :href="'#' + menu.path">
          <v-list-item-icon class="mr-1">
            <v-icon left v-text="menu.icon" />
          </v-list-item-icon>
          <v-list-item-content v-text="menu.name" />
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import Utils from '@/mixins/Utils';
import { mapGetters } from 'vuex';

export default {
  mixins: [Utils],
  data: () => ({
    // curIndex: 0,
    avatarImage: "https://images.unsplash.com/photo-1502378735452-bc7d86632805?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=aa3a807e1bbdfd4364d1f449eaa96d82",
    menu: [
      { name: 'Dashboard', path: '/Dashboard', icon: 'mdi-home' },
      { name: 'Users', icon: 'mdi-account', children: [
        { name: 'Students', path: '/Users/Students'},
        { name: 'Teachers', path: '/Users/Teachers'},
        { name: 'Staffs', path: '/Users/Staffs'},
        // { name: 'Academic Team', path: '/Users/AcademicTeam'},
        // { name: 'Teacher Advisor', path: '/Users/TeacherAdvisor'},
        // { name: 'Sales', path: '/Users/Sales'},
        // { name: 'Finance', path: '/Users/Finance'},
        // { name: 'Administrators', path: '/Users/Administrators'},
      ]},
      { name: 'School', icon: 'mdi-school', children: [
        { name: 'Courses', path: '/School/Courses'},
        { name: 'Lessons', path: '/School/Lessons'},
        { name: 'Products', path: '/School/Products'},
        { name: 'Time Table', path: '/School/TimeTable', disabled: true},
      ]},
      { name: 'Sales', icon: 'mdi-finance', children: [
        { name: 'Sales Orders', path: '/Sales/SalesOrders'},
        { name: 'Payments', path: '/Sales/Payments'}
      ]},
      { name: 'Admin', icon: 'mdi-card-bulleted-settings', children: [
        { name: 'Choices', path: '/Admin/Choices'}, 
        { name: 'Import', path: '/Admin/Import'},
        { name: 'Export', path: '/Admin/Export'}
      ]},
    ],
    userMenu: [
      { name: 'Profile', path: '/Profile', icon: 'mdi-account-box' },
      { name: 'Logout', path: '/Logout', icon: 'mdi-logout' },
    ]
    // links: [
    //   { name: 'Dashboard', path: '/Dashboard' },
    //   { name: 'Customers', path: '/Customers' },
    //   { name: 'Courses', path: '/Courses' },
    //   { name: 'Sales Orders', path: '/SalesOrders' },
    //   { name: 'Sales', path: '/Sales' },
    //   { name: 'Payments', path: '/Payments' }
    // ],
  }),
  mounted() {
    // const curPath = this.curPath;
    // if (!this.curUser) {
    //   if (curPath != '/Login' && curPath != '/Logout') {
    //     this.$router.replace('/Login');
    //   }
    // }
    // find index of current path
    // const i = this.links.findIndex(link => link.path == curPath);
    // if (i >= 0)
    //   this.curIndex = i;
    // console.debug("TopBar: ", this.curIndex, curPath);
  },
  computed: {
    ...mapGetters(["curUser"])
  },
  methods: {
    // ...mapMutations(["setCurUser"]),
    // handleChange(index) {
    //   const tab = this.links[index];
    //   console.debug("handleChange:", index, tab.path);
    //   this.$router.push({path: tab.path});
    // }
  },
}
</script>

<style scoped>
.menu-item {
  width: calc(100vw / 8);
}

.bar-bline {
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%) !important;
}

.theme--light.v-btn:hover {
  background-color: #cdedff !important;
}

.v-list-item__content:hover {
  color: #4e9bff !important;
}

.theme--light.v-list-item:hover::before {
  opacity: 0.10;
}

.theme--light.v-btn--active::before {
  opacity: 0.0;
}

.v-menu__content {
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
}
</style>