<template>
  <v-container>
    <v-row justify="center" class="mt-4">
      <h2>Invalid Page</h2>
    </v-row>
    <v-row justify="center">
      <div class="mt-2">'{{curPath}}' Page Not found</div>
    </v-row>
  </v-container>
</template>

<script>
import Utils from '../mixins/Utils';

export default {
  mixins: [Utils]
}
</script>

<style>

</style>