<template>
  <v-container fluid>
    <v-col justify="center">
      <v-row justify="center">
        <v-img src="../assets/kelly_logo.png" max-width="512" max-height="256" contain></v-img>
      </v-row>
      <v-row justify="center">
        <v-col cols="12" sm="6" md="4">
          <h2 class="mb-4">User Login</h2>
          <p>{{message}}</p>
          <v-form ref="form" v-model="valid">
            <v-text-field v-model="username" type="email" label="Username" placeholder="email address"
              required @keypress.enter="handleLogin"></v-text-field>
            <v-text-field v-model="password" type="password" label="Password" autocomplete="on"
              required @keypress.enter="handleLogin"></v-text-field>
            <v-row justify="center" class="mt-4">
              <v-btn :disabled="!valid" :loading="loading" color="success" class="mr-4 w-12"
                @click="handleLogin">Submit</v-btn> 
              <v-btn :disabled="loading" color="error" class="ml-4 w-12"
                @click="handleReset">Reset</v-btn>
            </v-row>
          </v-form>
        </v-col>
      </v-row>
    </v-col>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '../mixins/Utils';
import { mapGetters, mapMutations } from 'vuex';

export default {
  mixins: [ Utils ],
  data() {
    return {
      message: "",
      valid: false,
      username: "",
      password: "",
      loading: false,
    }
  },
  mounted() {
    // logout
    this.setErrorMessage(null);
    if (this.curUser && this.curPath == "/Logout") {
      this.message = `${this.curUser.name} has been logout.`;
      console.log("logout:", this.curUser.name);
      this.setCurUser(null);
      localStorage.removeItem('refreshToken');
    }
  },
  computed: {
    ...mapGetters(["curUser"]),
  },
  methods: {
    ...mapMutations(['setCurUser','setErrorMessage']),
    hash(algo, str) {  // can run only when connection is secured
      return crypto.subtle.digest(algo, new TextEncoder().encode(str));
    },
    encode64(buff) {
      return btoa(String.fromCharCode.apply(null, new Uint8Array(buff)));
    },
    handleReset() {
      this.username = "";
      this.password = "";
    },
    async handleLogin() {
      console.debug("handle login ...");
      this.$refs.form.validate();
      if (!this.valid)
        return;
      console.debug("begin to submit login request...");
      if (this.loading)
        return false;
      
      this.loading = true;
      try {
        // post by form data
        let formData = new FormData();
        // const hpasswd = this.encode64(await this.hash('SHA-256', this.password));
        const hpasswd = this.hashSha256(this.password);
        formData.set('username', this.username);
        formData.set('password', hpasswd);
        formData.set('grant_type', 'password');

        console.debug("formData: ", Object.fromEntries(formData));
        let token = await apiClient.postLogin(formData);
        console.debug("login submitted result:", token);

        if (token.token_type) {
          // set "Authorization" header for all coming API calls
          // apiClient.setHeaders({"Authorization": token.token_type + " " + token.access_token});
          let current_user = await apiClient.fetchCurrentUser();
          this.setCurUser(current_user);
          console.debug(`current user is ${current_user.userId}, name: ${current_user.name}`);
          // this.setSnackMessage({ text: 'Login successfully!' });
          if (this.$router.postLoginPath) {
            // redirect to postLoginPath
            this.$router.replace({path: this.$router.postLoginPath});
            delete this.$router.postLoginPath;
          } else {
            // DashBoard after login
            this.$router.push({path: "/DashBoard"});
          }
        } else {
          if (token.detail) {
            this.setErrorMessage({
              title: 'Login Failed',
              message: token.detail.msg
            });
          }
        }
      } catch (error) {
        this.setErrorMessage({
          title: 'Login Failed',
          message: error
        });
      }
      this.loading = false;
    }
  }
}
</script>

<style>

</style>