<template>
  <v-app id="inspire">
    <TopBar />

    <v-main class="lighten-3">
      <Breadcrumbs />
      <!-- keep-active to save local component state -->
      <router-view :key="$route.fullPath" />
      <Snackbar />
      <ErrorDialog />
    </v-main>

    <v-footer padless>
      <v-col class="text-center" cols="12">
        <strong>Kelly Education 2021</strong>
      </v-col>
    </v-footer>
  </v-app>

</template>

<script>
import TopBar from './components/Base/TopBar';
import Breadcrumbs from './components/Base/Breadcrumbs';
import Snackbar from './components/Base/Snackbar';
import ErrorDialog from './components/Base/ErrorDialog';

export default {
  components: { TopBar, Breadcrumbs, Snackbar, ErrorDialog },
  created() {
    // restore session when app created
    const curPath = this.$router.currentRoute.path;
    this.$store.dispatch('restoreSession');
    console.log("App created:", curPath);
    // redirect to login if haven't user
    if (curPath != '/Login' && !this.$store.getters.curUser) {
      console.log("redirect to login");
      this.$router.postLoginPath = curPath;
      this.$router.replace({path: '/Login'});
    }
  },
}
</script>