<template>
  <BaseList :title="title" :headers="headers" :searchHints="searchHints"
    :loading="loading" :total="total" :items="payments" 
    :sortBy="sortBy" :sortDesc="sortDesc" :dateRange="dateRange" :dateLabel="dateLabel"
    @update="loadPayments" @click="handleClick">
  </BaseList>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import BaseList from '../Base/BaseList';
import { mapMutations } from 'vuex';

export default {
  name: 'PaymentList',
  components: { BaseList },
  mixins: [Utils],
  data() {
    return {
      title: "Payment List",
      // createLink: "/Sales/Payments/Create",
      searchHints: "search for SO number, payee name, payee ref, account code",
      sortBy: "so_date",
      sortDesc: true,
      dateRange: "so_date",
      dateLabel: "SO Date",
      total: 0,
      payments: [],
      loading: false,
      headers: [
        { text: 'PAYMENT ID', value: 'payment_id', width: 60, sortable: true },
        { text: 'SO NUMBER', value: 'so_number', width: 80, sortable: true },
        { text: 'RECEIVED DATE', value: 'received_date', width: 100, sortable: true },
        { text: 'SO DATE', value: 'so_date', width: 80, sortable: true },
        { text: 'RECEIVED AMOUNT', value: 'received_amount', width: 100, sortable: true },
        { text: 'SO AMOUNT', value: 'so_amount', width: 80, sortable: true },
        { text: 'RECEIVED BY', value: 'receiver_name', width: 100, sortable: true },
        { text: 'PAYEE NAME', value: 'payee_name', width: 100, sortable: true },
        { text: 'PAYEE REF.', value: 'payee_ref', width: 80, sortable: true },
        { text: 'SO STATUS', value: 'so_status', width: 60, sortable: true },
        { text: 'ACTIONS', value: 'actions', width: 40, sortable: false },
      ],
    }
  },
  mounted() {
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    async loadPayments(searchOptions) {
      this.loading = true;
      try {
        console.debug("loadPayments:", searchOptions);
        const total = await apiClient.fetchCount('payments', searchOptions);
        const payments = await apiClient.fetchList('payments', searchOptions);
        console.debug("Loaded payments:", total.count, payments.length);
        this.total = total.count;
        this.payments = payments;
      } catch (error) {
        this.setErrorMessage({
          title: "Load Payment List",
          message: error
        });
      }
      this.loading = false;
    },
    handleClick(item) {
      console.debug("handleClick:", item);
      // this.$router.push({name: 'Payment', id: item.payment_id});
      this.$router.push({path: `/Sales/Payments/${item.payment_id}`});
    },
  },
}
</script>
