<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-row>
        <h2 class="mx-3 my-4">{{title}}</h2>
      </v-row>
      <v-row v-if="loading">
        <v-progress-linear indeterminate color="blue" />
        <v-col class="text-center">Loading ...</v-col>
      </v-row>
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in paymentFields" :key="index">
          <!-- <v-menu v-if="field.type == 'date'" :disabled="readonly" v-model="field.open"
            :close-on-content-click="false" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="payment[field.name]" outlined dense 
                :label="field.label" readonly v-bind="attrs" v-on="on" />
            </template>
            <v-date-picker v-model="payment[field.name]" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="field.open = false">OK</v-btn>
            </v-date-picker>
          </v-menu> -->
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="payment[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="payment[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="payment[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <!-- Select SalesOrder -->
      <v-card outlined class="my-3">
        <v-card-title :class="so_style_class">SalesOrder</v-card-title>
        <v-card-text>
          <!-- <v-row v-if="!readonly">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="salesorder" service="salesorders" color="orange darken-4"
                label="SalesOrder Search" placeholder="input to search salesorder" :readonly="readonly"
                icon="mdi-database-search" :labelFunc="(p) => `${p.salesorder_code}: ${p.name}`" />
            </v-col>
          </v-row> -->
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="salesOrderHeaders" :items="salesorder ? [salesorder] : []" 
                hide-default-footer disable-sort
                no-data-text="no salesorder selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('SalesOrder', item.so_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Select Student -->
      <v-card outlined class="my-3">
        <v-card-title :class="student_style_class">Student</v-card-title>
        <v-card-text>
          <!-- <v-row v-if="!readonly">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="student" service="students" color="purple darken-2"
                label="Student Search" placeholder="input to search student" :readonly="readonly"
                icon="mdi-account-search" :labelFunc="(p) => `${p.name} (${p.student_code})`" />
            </v-col>
          </v-row> -->
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="studentHeaders" :items="student ? [student] : []" 
                hide-default-footer disable-sort
                no-data-text="no student selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Student', item.user_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Select Receiver -->
      <v-card outlined class="my-3">
        <v-card-title :class="receiver_style_class">Received By</v-card-title>
        <v-card-text>
          <v-row v-if="!readonly">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="receiver" service="staffs" color="purple darken-2"
                label="Finance Search" placeholder="input to search finance" :readonly="readonly"
                icon="mdi-account-search" :labelFunc="(p) => `${p.name} (${p.staff_code})`"
                :moreCriteria="{'roles': 'Finance'}" />
            </v-col>
          </v-row>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="receiverHeaders" :items="receiver ? [receiver] : []" 
                hide-default-footer disable-sort
                no-data-text="no finance selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Staff', item.user_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Action Buttons -->
      <v-row>
        <v-col cols="12">
          <v-btn v-if="creating" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()">Create</v-btn>
          <v-btn v-if="!creating && !editing" width="100px" color="primary" 
            :disabled="loading" @click="handleEdit(true)">Edit</v-btn>
          <ConfirmDialog title="Delete Payment" message="Confirm to delete this payment?"
            titleClass="white--text red lighten-1" @confirm="handleDelete">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-if="!creating && !editing" v-bind="attrs" v-on="on"
                width="100px" color="error" class="ml-4" 
                :disabled="loading">Delete</v-btn>
            </template>
          </ConfirmDialog>
          <v-btn v-if="!editing" width="100px" color="normal" class="ml-4" 
            @click="handleBack">Back</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()" :disabled="!dirty">Confirm</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="normal" class="ml-4" 
            @click="handleEdit(false)">Cancel</v-btn>
        </v-col>
      </v-row>

    </v-form>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import AutoComplete from '../Base/AutoComplete';
import ConfirmDialog from '../Base/ConfirmDialog';
import { mapMutations } from 'vuex';

const so_style_class = "orange--text text--darken-4";
const student_style_class = "purple--text text--darken-2";
const receiver_style_class = "green--text text--darken-2";

export default {
  name: 'Payment',
  components: { AutoComplete, ConfirmDialog },
  mixins: [Utils],
  data() {
    return {
      valid: false,
      dirty: false,
      loading: false,
      editing: false,
      so_style_class,
      student_style_class,
      receiver_style_class,
      payment: {
        payment_id: 0,
        so_id: 0,
        received_date: null,
        received_amount: 0,
        payee_name: "",
        payee_ref: "",
        bank_account: "",
        bank_ref: "",
        receipt_no: "",
        receipt_date: null,
        account_code: "",
        signature_approval: "",
        payment_method: "",
        last_contact_date: null,
        attrition_code: "",
        remarks: "",
        updated_at: null
      },
      choices: {
        so_status: [],
        currency: [],
      },
      // for salesorder search
      salesorder: null,
      // for student search
      student: null,
      // for sales search
      receiver: null,
      paymentFields: [
        {
          name: "payment_id",
          label: "Payment ID",
          disabled: true,
        },
        {
          name: "so_id",
          label: "Sales Order ID",
          disabled: true,
        },
        {
          name: "received_date",
          label: "Received Date",
          type: "date"
        },
        {
          name: "received_amount",
          label: "Received Amount",
        },
        {
          name: "payee_name",
          label: "Payee Name",
        },
        {
          name: "payee_ref",
          label: "Payee Reference",
        },
        {
          name: "bank_account",
          label: "Bank Account",
        },
        {
          name: "bank_ref",
          label: "Bank Reference",
        },
        {
          name: "receipt_no",
          label: "Receipt Issued No.",
        },
        {
          name: "receipt_date",
          label: "Receipt Issued Date",
        },
        {
          name: "account_code",
          label: "Account Code",
        },
        {
          name: "signature_approval",
          label: "Electronic Signature of Approval",
        },
        {
          name: "payment_method",
          label: "Payment Method",
        },
        {
          name: "last_contact_date",
          label: "Last Sales contact date",
          type: "date"
        },
        {
          name: "attrition_code",
          label: "Attrition Code",
        },
        {
          name: "remarks",
          label: "Remarks",
        },
        {
          name: "updated_at",
          label: "Updated Date",
          disabled: true,
        },
      ],
      salesOrderHeaders: [
        { text: 'SO NUMBER', value: 'so_number', width: 80, class: so_style_class },
        { text: 'SO DATE', value: 'so_date', width: 100, class: so_style_class  },
        { text: 'STATUS', value: 'status', width: 80, class: so_style_class  },
        { text: 'SO AMOUNT', value: 'so_amount', width: 80, class: so_style_class  },
        { text: 'ACTIONS', value: 'actions', width: 40, class: so_style_class },
      ],
      studentHeaders: [
        { text: 'STUDENT CODE', value: 'student_code', width: 80, class: student_style_class },
        { text: 'NAME', value: 'name', width: 100, class: student_style_class },
        { text: 'INITIAL', value: 'initial', width: 100, class: student_style_class },
        { text: 'MOBILE', value: 'mobile', width: 80, class: student_style_class },
        { text: 'AGE', value: 'age', width: 40, class: student_style_class },
        { text: 'GENDER', value: 'gender', width: 60, class: student_style_class },
        { text: 'PARENT', value: 'parent', width: 120, class: student_style_class },
        { text: 'ACTIONS', value: 'actions', width: 40, class: student_style_class },
      ],
      receiverHeaders: [
        { text: 'STAFF CODE', value: 'staff_code', width: 80, class: receiver_style_class },
        { text: 'NAME', value: 'name', width: 100, class: receiver_style_class },
        { text: 'INITIAL', value: 'initial', width: 100, class: receiver_style_class },
        { text: 'MOBILE', value: 'mobile', width: 80, class: receiver_style_class },
        { text: 'GENDER', value: 'gender', width: 60, class: receiver_style_class },
        { text: 'ACTIONS', value: 'actions', width: 40, class: receiver_style_class },
      ],
    }
  },
  watch: {
    // watch any payment data changed
    payment: {
      deep: true,
      handler() {
        if (!this.loading) {
          // console.debug("watch payment:", newVal, oldVal);
          this.dirty = true;
        } else {
          this.dirty = false;
        }
      }
    },
    // watch salesorder search
    salesorder(newVal) {
      console.debug("watch salesorder:", newVal);
      const newId = newVal ? newVal.salesorder_id : 0;
      if (this.payment.salesorder_id != newId) {
        this.payment.salesorder_id = newId;
        this.dirty = true;
      }
    },
    // watch sales search
    receiver(newVal) {
      console.debug("watch receiver:", newVal);
      const newId = newVal ? newVal.user_id : 0;
      if (this.payment.received_by != newId) {
        this.payment.received_by = newId;
        this.dirty = true;
      }
    },
    // watch student search
    student(newVal) {
      console.debug("watch student:", newVal);
      const newId = newVal ? newVal.user_id : 0;
      if (this.payment.student_id != newId) {
        this.payment.student_id = newId;
        this.dirty = true;
      }
    },
  },
  computed: {
    curId() {
      const id = this.$route.params && this.$route.params.id || "";
      return id;
    },
    creating() {
      return (this.curId == "Create");
    },
    readonly() {
      return !this.creating && !this.editing;
    },
    title() {
      const curId = this.curId;
      return (curId == "Create") ? "Create Payment" : `Payment #${curId}`;
    },
  },
  async mounted() {
    const curId = this.curId;
    console.debug("router id:", curId);
    if (!this.creating) {
      await this.loadPayment(curId);
    } else {
      // load sales order
      const so_id = this.$route.query.so_id || 0;
      if (so_id) {
        await this.loadSalesOrder(so_id);
        this.payment.so_id = so_id;
      }
    }
    await this.loadChoices();
  },
  methods: {
    ...mapMutations(['setSnackMessage', 'setErrorMessage']),
    async loadSalesOrder(id) {
      this.loading = true;
      try {
        const today = new Date();
        this.salesorder = await apiClient.fetch('salesorders', id);
        const st = this.salesorder.student;
        this.student = {...st,
          parent: st && [st.parent_1, st.parent_2].filter((x) => (x)).join(", "),
          age: st && st.dob ? this.yearsDiff(st.dob, today) : 0
        };
        console.debug("Loaded salesorder:", this.salesorder);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Sales Order",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadPayment(id) {
      this.loading = true;
      try {
        this.payment = await apiClient.fetch('payments', id);
        const today = new Date();
        // format updated_at
        if (this.payment.updated_at)
          this.payment.updated_at = this.formatDateTime(this.payment.updated_at);
        // mapping to data
        this.salesorder = this.payment.sales_order;
        this.receiver = this.payment.receiver;
        const st = this.payment.student;
        this.student = {...st,
          parent: st && [st.parent_1, st.parent_2].filter((x) => (x)).join(", "),
          age: st && st.dob ? this.yearsDiff(st.dob, today) : 0
        };
        console.debug("Loaded payment:", this.payment);
      } catch (error) {
        this.setErrorMessage({
          title: "Load Payment",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadChoices() {
      try {
        for (const category in this.choices) {
          this.choices[category] = await apiClient.fetchList(`choices/${category}`);
        }
        // console.debug("Loaded choices:", this.choices);
      } catch (error) {
        console.error("Loaded choices error:", error);
      }
    },
    handleValidate() {
      this.$refs.form.validate();
    },
    handleBack() {
      this.$router.go(-1);
    },
    handleEdit(edit) {
      if (!edit && this.dirty)
        this.loadPayment(this.curId);
      this.editing = edit;
      this.dirty = false;
    },
    async handleConfirm() {
      if (!this.dirty) {
        this.editing = false;
        return;
      }
      this.$refs.form.validate();
      if (!this.valid)
        return;

      const tag = this.creating && "Create" || "Update";
      try {
        if (tag == 'Create')
          this.payment = await apiClient.post('payments', this.payment);
        else
          await apiClient.put('payments', this.payment.so_id, this.payment);
        console.debug(`${tag}:`, this.payment.payment_id);
        this.dirty = false;
        this.editing = false;
        this.setSnackMessage({
          text: `Payment "${this.payment.so_id}" ${tag}d`
        });
        // replace to new payment page
        if (this.creating) {
          this.$router.replace(`/School/Payments/${this.payment.payment_id}`);
        }
      } catch (error) {
        this.setErrorMessage({
          title: `${tag} Payment`,
          message: error
        });
      }
    },
    async handleDelete() {
      try {
        console.debug("delete:", this.curId);
        await apiClient.delete('payments', this.curId);
        this.setSnackMessage({
          text: `Payment "${this.payment.payment_code}" Deleted`
        });
        this.handleBack();
      } catch (error) {
        this.setErrorMessage({
          title: "Delete Cusomter",
          message: error
        });
      }
    },
    handleClickSalesOrder(so) {
      if (this.creating || this.editing)
        return;
      console.debug("click SalesOrder:", so);
      this.$router.push({path: `/Sales/SalesOrders/${so.so_id}`});
    },
    handleClickStudent(student) {
      if (this.creating || this.editing)
        return;
      console.debug("click student:", student);
      this.$router.push({path: `/Users/Students/${student.user_id}`});
    },
    handleClickReceiver(staff) {
      if (this.creating || this.editing)
        return;
      console.debug("click receiver:", staff);
      this.$router.push({path: `/Users/Staffs/${staff.user_id}`});
    },
  },
}
</script>