<template>
  <BaseList :title="title" :headers="headers" :createLink="createLink"
    :searchHints="searchHints" :loading="loading" :total="total" :items="salesorders" 
    :sortBy="sortBy" :sortDesc="sortDesc" :dateRange="dateRange" :dateLabel="dateLabel"
    @update="loadSalesOrders" @click="handleClick">
  </BaseList>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import BaseList from '../Base/BaseList';
import { mapMutations } from 'vuex';

export default {
  name: 'SalesOrderList',
  components: { BaseList },
  mixins: [Utils],
  data() {
    return {
      title: "SalesOrder List",
      createLink: "/Sales/SalesOrders/Create",
      searchHints: "search for SO number, student name, sales name",
      sortBy: "so_date",
      sortDesc: true,
      dateRange: "so_date",
      dateLabel: "SO Date",
      total: 0,
      salesorders: [],
      loading: false,
      headers: [
        { text: 'SO ID', value: 'so_id', width: 60, sortable: true },
        { text: 'SO NUMBER', value: 'so_number', width: 80, sortable: true },
        { text: 'SO DATE', value: 'so_date', width: 80, sortable: true },
        { text: 'STATUS', value: 'status', width: 80, sortable: true },
        { text: 'SALES NAME', value: 'sales_name', width: 100, sortable: true },
        { text: 'COURSE NAME', value: 'course_name', width: 120, sortable: true },
        { text: 'STUDENT NAME', value: 'student_name', width: 100, sortable: true },
        { text: 'AMOUNT', value: 'so_amount', width: 80, sortable: true },
        { text: 'ISSUED', value: 'so_issued', width: 60, sortable: true },
        { text: 'ACTIONS', value: 'actions', width: 40, sortable: false },
      ],
    }
  },
  mounted() {
  },
  methods: {
    ...mapMutations(['setErrorMessage']),
    async loadSalesOrders(searchOptions) {
      this.loading = true;
      try {
        console.debug("loadSalesOrders:", searchOptions);
        const total = await apiClient.fetchCount('salesorders', searchOptions);
        const salesorders = await apiClient.fetchList('salesorders', searchOptions);
        console.debug("Loaded salesorders:", total.count, salesorders.length);
        this.total = total.count;
        this.salesorders = salesorders;
      } catch (error) {
        this.setErrorMessage({
          title: "Load SalesOrder List",
          message: error
        });
      }
      this.loading = false;
    },
    handleClick(item) {
      console.debug("handleClick:", item);
      // this.$router.push({name: 'SalesOrder', id: item.so_id});
      this.$router.push({path: `/Sales/SalesOrders/${item.so_id}`});
    },
  },
}
</script>
