<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-row>
        <h2 class="mx-3 my-4">{{title}}</h2>
      </v-row>
      <v-row v-if="loading">
        <v-progress-linear indeterminate color="blue" />
        <v-col class="text-center">Loading ...</v-col>
      </v-row>
      <v-row v-if="!loading">
        <v-col class="py-0" cols="12" md="4" v-for="(field, index) in salesOrderFields" :key="index">
          <!-- <v-menu v-if="field.type == 'date'" :disabled="readonly" v-model="field.open"
            :close-on-content-click="false" offset-y min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="salesorder[field.name]" outlined dense 
                :label="field.label" readonly v-bind="attrs" v-on="on" />
            </template>
            <v-date-picker v-model="salesorder[field.name]" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="field.open = false">OK</v-btn>
            </v-date-picker>
          </v-menu> -->
          <v-select v-if="field.choice" :items="choices[field.choice]"
            v-bind="{...field}" v-model="salesorder[field.name]"
            outlined dense :readonly="readonly" />
          <v-checkbox v-else-if="field.checkbox" v-bind="{...field}" v-model="salesorder[field.name]"
            class="mt-0" dense :readonly="readonly" />
          <v-text-field v-else v-bind="{...field}" v-model="salesorder[field.name]"
            outlined dense :readonly="readonly" />
        </v-col>
      </v-row>
      <!-- Select Course -->
      <v-card outlined class="my-3">
        <v-card-title :class="course_style_class">Course</v-card-title>
        <v-card-text>
          <v-row v-if="!readonly">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="course" service="courses" color="orange darken-4"
                label="Course Search" placeholder="input to search course" :readonly="readonly"
                icon="mdi-database-search" :labelFunc="(p) => `${p.course_code}: ${p.name}`" />
            </v-col>
          </v-row>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="courseHeaders" :items="course ? [course] : []" 
                hide-default-footer disable-sort
                no-data-text="no course selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Course', item.course_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Select Student -->
      <v-card outlined class="my-3">
        <v-card-title :class="student_style_class">Student</v-card-title>
        <v-card-text>
          <v-row v-if="!readonly">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="student" service="students" color="purple darken-2"
                label="Student Search" placeholder="input to search student" :readonly="readonly"
                icon="mdi-account-search" :labelFunc="(p) => `${p.name} (${p.student_code})`" />
            </v-col>
          </v-row>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="studentHeaders" :items="student ? [student] : []" 
                hide-default-footer disable-sort
                no-data-text="no student selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Student', item.user_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Select Sales -->
      <v-card outlined class="my-3">
        <v-card-title :class="sales_style_class">Sales</v-card-title>
        <v-card-text>
          <v-row v-if="!readonly">
            <v-col class="py-0" cols="12" md="4">
              <AutoComplete v-model="sales" service="staffs" color="purple darken-2"
                label="Sales Search" placeholder="input to search sales" :readonly="readonly"
                icon="mdi-account-search" :labelFunc="(p) => `${p.name} (${p.staff_code})`"
                :moreCriteria="{'roles': 'Sales'}" />
            </v-col>
          </v-row>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="salesHeaders" :items="sales ? [sales] : []" 
                hide-default-footer disable-sort
                no-data-text="no sales selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Staff', item.user_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Payment -->
      <v-card outlined class="my-3">
        <v-card-title :class="payment_style_class">Payment</v-card-title>
        <v-card-text>
          <v-row v-if="!loading">
            <v-col class="px-0 py-0" cols="12">
              <v-data-table :headers="paymentHeaders" :items="payment ? [payment] : []" 
                hide-default-footer disable-sort
                no-data-text="no payment selected" >
                <template v-slot:item.actions="{ item }"> <!-- eslint-disable-line -->
                  <v-icon v-if="readonly" @click.stop="goPageLink('Payment', item.payment_id)">mdi-open-in-new</v-icon>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- Action Buttons -->
      <v-row>
        <v-col cols="12">
          <v-btn v-if="creating" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()">Create</v-btn>
          <v-btn v-if="!creating && !editing" width="100px" color="primary" 
            :disabled="loading" @click="handleEdit(true)">Edit</v-btn>
          <ConfirmDialog title="Delete Sales Order" message="Confirm to delete this sales order?"
            titleClass="white--text red lighten-1" @confirm="handleDelete">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-if="!creating && !editing" v-bind="attrs" v-on="on"
                width="100px" color="error" class="ml-4" 
                :disabled="loading">Delete</v-btn>
            </template>
          </ConfirmDialog>
          <v-btn v-if="!creating && !payment" width="180px" color="cyan darken-2 white--text" class="ml-4"
            :loading="loading" @click="createPayment()">Create Payment</v-btn>
          <v-btn v-if="!editing" width="100px" color="normal" class="ml-4" 
            @click="handleBack">Back</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="primary" 
            :loading="loading" @click="handleConfirm()" :disabled="!dirty">Confirm</v-btn>
          <v-btn v-if="!creating && editing" width="100px" color="normal" class="ml-4" 
            @click="handleEdit(false)">Cancel</v-btn>
        </v-col>
      </v-row>

    </v-form>
  </v-container>
</template>

<script>
import apiClient from 'api-client';
import Utils from '@/mixins/Utils';
import AutoComplete from '../Base/AutoComplete';
import ConfirmDialog from '../Base/ConfirmDialog';
import { mapMutations } from 'vuex';

const course_style_class = "orange--text text--darken-4";
const student_style_class = "purple--text text--darken-2";
const sales_style_class = "green--text text--darken-2";
const payment_style_class = "cyan--text text--darken-2";

export default {
  name: 'SalesOrder',
  components: { AutoComplete, ConfirmDialog },
  mixins: [Utils],
  data() {
    return {
      valid: false,
      dirty: false,
      loading: false,
      editing: false,
      course_style_class,
      student_style_class,
      sales_style_class,
      payment_style_class,
      salesorder: {
        so_id: 0,
        sales_id: 0,
        student_id: 0,
        course_id: 0,
        so_number: "",
        so_date: null,
        status: "",
        existing: false,
        promo_code: "",
        currency: "",
        so_amount: 0,
        ex_rate: 0,
        so_gross: 0,
        so_discount: 0,
        so_net: 0,
        course_value: 0,
        so_issued: false,
        updated_at: null
      },
      choices: {
        so_status: [],
        currency: [],
      },
      // sub items
      course: null,
      student: null,
      sales: null,
      payment: null,
      salesOrderFields: [
        {
          name: "so_id",
          label: "Sales Order ID",
          disabled: true,
        },
        {
          name: "so_number",
          label: "SO Number",
          required: true,
          rules: [
            v => !!v || 'Sales Order Number is required',
            v => (v && v.length <= 20) || 'Sales Order Number must be less than 20 characters',
          ]
        },
        {
          name: "so_date",
          label: "SO Date",
          type: "date"
        },
        {
          name: "status",
          label: "Status",
          choice: "so_status",
          required: true,
          rules: [
            v => !!v || 'Status is required',
          ]
        },
        {
          name: "existing",
          label: "Existing",
          checkbox: true,
        },
        {
          name: "promo_code",
          label: "Special Promo Code",
        },
        {
          name: "currency",
          label: "Currency",
          choice: "currency",
        },
        {
          name: "so_amount",
          label: "SO Amount",
          type: "number",
        },
        {
          name: "ex_rate",
          label: "Ex. Rate",
          type: "number",
        },
        {
          name: "so_gross",
          label: "SO GROSS Amount",
          type: "number",
        },
        {
          name: "so_discount",
          label: "Other Discount",
          type: "number",
        },
        {
          name: "so_net",
          label: "SO NET Amount",
          type: "number",
        },
        {
          name: "course_value",
          label: "Value per Course",
          type: "number",
          disabled: true
        },
        {
          name: "so_issued",
          label: "SO Confirmation Issued",
          checkbox: true
        },
        {
          name: "updated_at",
          label: "Updated Date",
          disabled: true,
        },
      ],
      courseHeaders: [
        { text: 'COURSE CODE', value: 'course_code', width: 80, class: course_style_class },
        { text: 'NAME', value: 'name', width: 100, class: course_style_class  },
        { text: 'STATUS', value: 'status', width: 80, class: course_style_class  },
        { text: 'TOTAL CLASSES', value: 'total_classes', width: 60, class: course_style_class  },
        { text: 'FIRST DATE', value: 'lesson_first_date', width: 80, class: course_style_class  },
      ],
      studentHeaders: [
        { text: 'STUDENT CODE', value: 'student_code', width: 80, class: student_style_class },
        { text: 'NAME', value: 'name', width: 100, class: student_style_class },
        { text: 'INITIAL', value: 'initial', width: 100, class: student_style_class },
        { text: 'MOBILE', value: 'mobile', width: 80, class: student_style_class },
        { text: 'AGE', value: 'age', width: 40, class: student_style_class },
        { text: 'GENDER', value: 'gender', width: 60, class: student_style_class },
        { text: 'PARENT', value: 'parent', width: 120, class: student_style_class },
      ],
      salesHeaders: [
        { text: 'STAFF CODE', value: 'staff_code', width: 80, class: sales_style_class },
        { text: 'NAME', value: 'name', width: 100, class: sales_style_class },
        { text: 'INITIAL', value: 'initial', width: 100, class: sales_style_class },
        { text: 'MOBILE', value: 'mobile', width: 80, class: sales_style_class },
        { text: 'GENDER', value: 'gender', width: 60, class: sales_style_class },
      ],
      paymentHeaders: [
        { text: 'RECEIVED DATE', value: 'received_date', width: 100, class: payment_style_class },
        { text: 'RECEIVED AMOUNT', value: 'received_amount', width: 100, class: payment_style_class },
        { text: 'RECEIVED BY', value: 'receiver_name', width: 100, class: payment_style_class },
        { text: 'PAYEE NAME', value: 'payee_name', width: 100, class: payment_style_class },
        { text: 'PAYEE REF.', value: 'payee_ref', width: 80, class: payment_style_class },
      ],
    }
  },
  watch: {
    // watch any salesorder data changed
    salesorder: {
      deep: true,
      handler() {
        if (!this.loading) {
          // console.debug("watch salesorder:", newVal, oldVal);
          this.dirty = true;
        } else {
          this.dirty = false;
        }
      }
    },
    // watch course search
    course(newVal) {
      console.debug("watch course:", newVal);
      const newId = newVal ? newVal.course_id : 0;
      if (this.salesorder.course_id != newId) {
        this.salesorder.course_id = newId;
        this.dirty = true;
      }
    },
    // watch sales search
    sales(newVal) {
      console.debug("watch sales:", newVal);
      const newId = newVal ? newVal.user_id : 0;
      if (this.salesorder.sales_id != newId) {
        this.salesorder.sales_id = newId;
        this.dirty = true;
      }
    },
    // watch student search
    student(newVal) {
      console.debug("watch student:", newVal);
      const newId = newVal ? newVal.user_id : 0;
      if (this.salesorder.student_id != newId) {
        this.salesorder.student_id = newId;
        this.dirty = true;
      }
    },
  },
  computed: {
    curId() {
      const id = this.$route.params && this.$route.params.id || "";
      return id;
    },
    creating() {
      return (this.curId == "Create");
    },
    readonly() {
      return !this.creating && !this.editing;
    },
    title() {
      const curId = this.curId;
      return (curId == "Create") ? "Create SalesOrder" : `SalesOrder #${curId}`;
    },
  },
  async mounted() {
    const curId = this.curId;
    console.debug("router id:", curId);
    if (!this.creating)
      await this.loadSalesOrder(curId);
    await this.loadChoices();
  },
  methods: {
    ...mapMutations(['setSnackMessage', 'setErrorMessage']),
    async loadSalesOrder(id) {
      this.loading = true;
      try {
        this.salesorder = await apiClient.fetch('salesorders', id);
        const today = new Date();
        // format updated_at
        if (this.salesorder.updated_at)
          this.salesorder.updated_at = this.formatDateTime(this.salesorder.updated_at);
        // mapping to data
        this.course = this.salesorder.course;
        this.payment = this.salesorder.payment;
        this.sales = this.salesorder.sales;
        const st = this.salesorder.student;
        this.student = {...st,
          parent: [st.parent_1, st.parent_2].filter((x) => (x)).join(", "),
          age: st.dob ? this.yearsDiff(st.dob, today) : 0
        };
        console.debug("Loaded salesorder:", this.salesorder);
      } catch (error) {
        this.setErrorMessage({
          title: "Load SalesOrder",
          message: error
        });
      }
      // end loading after watch
      this.$nextTick(() => {
        this.loading = false;
      });
    },
    async loadChoices() {
      try {
        for (const category in this.choices) {
          this.choices[category] = await apiClient.fetchList(`choices/${category}`);
        }
        // console.debug("Loaded choices:", this.choices);
      } catch (error) {
        console.error("Loaded choices error:", error);
      }
    },
    handleValidate() {
      this.$refs.form.validate();
    },
    handleBack() {
      this.$router.go(-1);
    },
    handleEdit(edit) {
      if (!edit && this.dirty)
        this.loadSalesOrder(this.curId);
      this.editing = edit;
      this.dirty = false;
    },
    async handleConfirm() {
      if (!this.dirty) {
        this.editing = false;
        return;
      }
      this.$refs.form.validate();
      if (!this.valid)
        return;

      const tag = this.creating && "Create" || "Update";
      try {
        if (tag == 'Create')
          this.salesorder = await apiClient.post('salesorders', this.salesorder);
        else
          await apiClient.put('salesorders', this.salesorder.so_id, this.salesorder);
        console.debug(`${tag}:`, this.salesorder.salesorder_id);
        this.dirty = false;
        this.editing = false;
        this.setSnackMessage({
          text: `SalesOrder "${this.salesorder.salesorder_code}" ${tag}d`
        });
        // replace to new salesorder page
        if (this.creating) {
          this.$router.replace(`/School/SalesOrders/${this.salesorder.salesorder_id}`);
        }
      } catch (error) {
        this.setErrorMessage({
          title: `${tag} SalesOrder`,
          message: error
        });
      }
    },
    async handleDelete() {
      try {
        console.debug("delete:", this.curId);
        await apiClient.delete('salesorders', this.curId);
        this.setSnackMessage({
          text: `SalesOrder "${this.salesorder.salesorder_code}" Deleted`
        });
        this.handleBack();
      } catch (error) {
        this.setErrorMessage({
          title: "Delete Cusomter",
          message: error
        });
      }
    },
    createPayment() {
      // const so_id = this.salesorder.so_id;
      // this.$router.push({path: `/Sales/Payments/Create?so_id=${so_id}`});
      this.$router.push({
        name: 'Payment', 
        params: {id: 'Create'}, 
        query: {so_id: this.salesorder.so_id}
      });
    },
  },
}
</script>